Repository nestauk/skills-taxonomy-v2: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-toml, check-yaml

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        require_serial: true
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-merge-conflict
        name: Check for files with merge conflict strings
        entry: check-merge-conflict
        language: system
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      # - id: reorder-python-imports
      #   name: Reorder python imports
      #   entry: reorder-python-imports
      #   language: system
      #   types: [python]
      # - id: flake8
      #   name: flake8
      #   entry: flake8
      #   language: system
      #   types: [python]
      #   args: ["--config=.flake8"]
      #   require_serial: true
      - id: no-commit-to-branch
        name: Prevent commits to dev / master
        entry: no-commit-to-branch
        language: python
        args: ["-b", dev, "-b", master, "-b", main]
        pass_filenames: false
  - repo: https://github.com/prettier/pre-commit
    rev: v2.1.2
    hooks:
      - id: prettier

Allow for tfidf params in naming of levels
  skills_taxonomy_v2/pipeline/skills_taxonomy/build_taxonomy_utils.py
Due: black

Rerunning all analysis and applications notebooks
  skills_taxonomy_v2/analysis/skills_extraction/notebooks/Skills Extraction Analysis and Figures.py
  skills_taxonomy_v2/analysis/skills_taxonomy/notebooks/Evaluate hierarchy.py
  skills_taxonomy_v2/analysis/skills_taxonomy/notebooks/Skills Taxonomy Analysis and Figures.py
  skills_taxonomy_v2/analysis/skills_taxonomy/notebooks/Tranversal Skills.py
  skills_taxonomy_v2/analysis/skills_taxonomy_application/Application - COVID.py
  skills_taxonomy_v2/analysis/skills_taxonomy_application/Application - Geography.py
  skills_taxonomy_v2/analysis/tk_analysis/TextKernel Data Sample for Skills.py
Due: black

Replace report images with updated ones
  outputs/reports/figures/Jan 2022/extract_skill_methodology_overview.jpg
  outputs/reports/figures/Jan 2022/hierarchy_numbers.jpg
  outputs/reports/figures/Jan 2022/hierarchy_overview.jpg
  outputs/reports/figures/Jan 2022/methodology_overview.jpg
  outputs/reports/figures/Jan 2022/taxonomy_example.jpg
  outputs/reports/figures/extract_skill_methodology_overview.jpg
  outputs/reports/figures/hierarchy_numbers.jpg
  outputs/reports/figures/hierarchy_overview.jpg
  outputs/reports/figures/methodology_overview_pipeline.jpg
  outputs/reports/figures/taxonomy_example.jpg
Due: none

Add new images to main readme
  README.md
  outputs/reports/figures/Jan 2022/methodology_overview_pipeline.jpg
Due: none

Add image of 2022 skill clusters
  outputs/skills_extraction/figures/2022_01_14/2022.01.14_skill_clusters.png
Due: none

Move get duplicate sent ids to pipeline and reformat output to be more memory efficient
  skills_taxonomy_v2/pipeline/skills_extraction/get_duplicate_sentence_skills.py
Due: black

Save out duplicates only
  skills_taxonomy_v2/pipeline/skills_extraction/get_duplicate_sentence_skills.py
Due: black

Darken green in examples jpg
  outputs/reports/figures/Jan 2022/taxonomy_example.jpg
Due: none

Update analysis notebooks to include the additional data from the duplicated sentences
  skills_taxonomy_v2/analysis/skills_extraction/notebooks/Skills Extraction Analysis and Figures.py
  skills_taxonomy_v2/analysis/skills_taxonomy/notebooks/Evaluate hierarchy.py
  skills_taxonomy_v2/analysis/skills_taxonomy/notebooks/Skills Taxonomy Analysis and Figures.py
  skills_taxonomy_v2/analysis/skills_taxonomy/notebooks/Tranversal Skills.py
  skills_taxonomy_v2/analysis/skills_taxonomy_application/Application - COVID.py
  skills_taxonomy_v2/analysis/skills_taxonomy_application/Application - Geography.py
  skills_taxonomy_v2/analysis/tk_analysis/TextKernel Data Sample for Skills.py
Due: black

Add combination of duplicated sentences dictionary and save, and describe script in the readme
  skills_taxonomy_v2/pipeline/skills_extraction/README.md
  skills_taxonomy_v2/pipeline/skills_extraction/get_duplicate_sentence_skills.py
Due: black

Delete some lines that shouldnt be there from cluster embeddings
  skills_taxonomy_v2/pipeline/skills_extraction/cluster_embeddings.py
Due: black

Rerunning all the analysis notebooks for the report (#81)
  README.md
  outputs/reports/figures/Jan 2022/extract_skill_methodology_overview.jpg
  outputs/reports/figures/Jan 2022/hierarchy_numbers.jpg
  outputs/reports/figures/Jan 2022/hierarchy_overview.jpg
  outputs/reports/figures/Jan 2022/methodology_overview.jpg
  outputs/reports/figures/Jan 2022/methodology_overview_pipeline.jpg
  outputs/reports/figures/Jan 2022/taxonomy_example.jpg
  outputs/reports/figures/extract_skill_methodology_overview.jpg
  outputs/reports/figures/hierarchy_numbers.jpg
  outputs/reports/figures/hierarchy_overview.jpg
  outputs/reports/figures/methodology_overview_pipeline.jpg
  outputs/reports/figures/taxonomy_example.jpg
  outputs/skills_extraction/figures/2022_01_14/2022.01.14_skill_clusters.png
  skills_taxonomy_v2/analysis/skills_extraction/notebooks/Skills Extraction Analysis and Figures.py
  skills_taxonomy_v2/analysis/skills_taxonomy/notebooks/Evaluate hierarchy.py
  skills_taxonomy_v2/analysis/skills_taxonomy/notebooks/Skills Taxonomy Analysis and Figures.py
  skills_taxonomy_v2/analysis/skills_taxonomy/notebooks/Tranversal Skills.py
  skills_taxonomy_v2/analysis/skills_taxonomy_application/Application - COVID.py
  skills_taxonomy_v2/analysis/skills_taxonomy_application/Application - Geography.py
  skills_taxonomy_v2/analysis/skills_taxonomy_application/locations_to_nuts.py
  skills_taxonomy_v2/analysis/tk_analysis/TextKernel Data Sample for Skills.py
  skills_taxonomy_v2/config/skills_taxonomy_application/2022.01.21.yaml
  skills_taxonomy_v2/pipeline/skills_extraction/README.md
  skills_taxonomy_v2/pipeline/skills_extraction/cluster_embeddings.py
  skills_taxonomy_v2/pipeline/skills_extraction/get_duplicate_sentence_skills.py
  skills_taxonomy_v2/pipeline/skills_taxonomy/build_taxonomy.py
  skills_taxonomy_v2/pipeline/skills_taxonomy/build_taxonomy_utils.py
  skills_taxonomy_v2/utils/2022.01.21_level_a_mapper_dict.json
Due: black, check-yaml

clean up skillls extraction readme
  skills_taxonomy_v2/pipeline/skills_extraction/README.md
Due: none

update readmes for the pipeline and delete unneeded file for tk analysis
  skills_taxonomy_v2/pipeline/skills_extraction/README.md
  skills_taxonomy_v2/pipeline/skills_taxonomy/README.md
  skills_taxonomy_v2/pipeline/tk_data_analysis/README.md
  skills_taxonomy_v2/pipeline/tk_data_analysis/get_no_texts_tk_data.py
Due: black

Add output of sentences coloured by level to tax anlaysis
  skills_taxonomy_v2/analysis/skills_taxonomy/notebooks/Skills Taxonomy Analysis and Figures.py
Due: black

Repo clean up (#82)
  skills_taxonomy_v2/analysis/skills_taxonomy/notebooks/Skills Taxonomy Analysis and Figures.py
  skills_taxonomy_v2/pipeline/skills_extraction/README.md
  skills_taxonomy_v2/pipeline/skills_taxonomy/README.md
  skills_taxonomy_v2/pipeline/tk_data_analysis/README.md
  skills_taxonomy_v2/pipeline/tk_data_analysis/get_no_texts_tk_data.py
Due: black

Add taxonomy file to repo and extra information to the README
  README.md
  outputs/taxonomy_data/2022.01.21_hierarchy_structure_named.json
Due: none

Add taxonomy file to repo and extra information to the README (#83)
  README.md
  outputs/taxonomy_data/2022.01.21_hierarchy_structure_named.json
Due: none

Add clarification of TK availbility in readme
  README.md
Due: none

Add clarification of TK availbility in readme (#84)
  README.md
Due: none

Add escoe link to readme
  README.md
Due: none

Add escoe link to readme (#85)
  README.md
Due: none

Refactor get embeddings into its own function, fix issue with assuming there will be a -1 cluster, set default clustering parameters
  README.md
  skills_taxonomy_v2/pipeline/skills_extraction/cluster_embeddings.py
  skills_taxonomy_v2/pipeline/skills_extraction/get_sentence_embeddings.py
Due: black

Add an example of skills extraction with a toy dataset
  skills_taxonomy_v2/examples/extract_skills.py
  skills_taxonomy_v2/examples/job_advert_examples.txt
Due: black

Refactor example code into functions, and use in a jupyter notebook
  skills_taxonomy_v2/examples/Extract Skills.py
  skills_taxonomy_v2/examples/extract_skills.py
Due: black

added sentence classifier pkl file
  outputs/sentence_classifier/2021_08_16_sentence_classifier.pkl.zip
  outputs/sentence_classifier/README.md
Due: none
