Repository nestauk/skills-taxonomy-v2: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-toml, check-yaml

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        require_serial: true
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-merge-conflict
        name: Check for files with merge conflict strings
        entry: check-merge-conflict
        language: system
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      # - id: reorder-python-imports
      #   name: Reorder python imports
      #   entry: reorder-python-imports
      #   language: system
      #   types: [python]
      # - id: flake8
      #   name: flake8
      #   entry: flake8
      #   language: system
      #   types: [python]
      #   args: ["--config=.flake8"]
      #   require_serial: true
      - id: no-commit-to-branch
        name: Prevent commits to dev / master
        entry: no-commit-to-branch
        language: python
        args: ["-b", dev, "-b", master, "-b", main]
        pass_filenames: false
  - repo: https://github.com/prettier/pre-commit
    rev: v2.1.2
    hooks:
      - id: prettier

address Liz's PR
  skills_taxonomy_v2/config/skills_extraction/2021.12.07.yaml
Due: check-yaml

address Liz's PR comments
  skills_taxonomy_v2/pipeline/skills_extraction/skills_naming.py
Due: black

updated parameter
  skills_taxonomy_v2/config/skills_extraction/2021.12.07.yaml
Due: check-yaml

addressed liz's PR
  skills_taxonomy_v2/pipeline/skills_extraction/skills_naming.py
Due: black

addressed Liz's PR
  skills_taxonomy_v2/pipeline/skills_extraction/skills_naming_utils.py
Due: black

PR
  skills_taxonomy_v2/pipeline/skills_extraction/skills_naming.py
Due: black

edited docstring after PR
  skills_taxonomy_v2/pipeline/skills_extraction/skills_naming_utils.py
Due: black

70 better naming (#76)
  requirements.txt
  skills_taxonomy_v2/analysis/skills_extraction/Skill Naming Experiments.md
  skills_taxonomy_v2/analysis/skills_extraction/figures/naming_experiments/chunk_embeddings.png
  skills_taxonomy_v2/analysis/skills_extraction/figures/naming_experiments/phrases_embeddings.png
  skills_taxonomy_v2/analysis/skills_extraction/figures/naming_experiments/pyrank_embeddings.png
  skills_taxonomy_v2/analysis/skills_extraction/notebooks/better_skills_naming.py
  skills_taxonomy_v2/config/skills_extraction/2021.11.09.yaml
  skills_taxonomy_v2/config/skills_extraction/2021.12.07.yaml
  skills_taxonomy_v2/pipeline/skills_extraction/skills_naming.py
  skills_taxonomy_v2/pipeline/skills_extraction/skills_naming_utils.py
Due: black, check-yaml

Add json for mnaual naming of level A groups and manual grouping of level B skills
  skills_taxonomy_v2/utils/2021.12.03_level_a_mapper_dict.json
Due: none

Update new config for skills taxonomy
  skills_taxonomy_v2/config/skills_taxonomy/2021.11.30.yaml
  skills_taxonomy_v2/pipeline/skills_taxonomy/README.md
  skills_taxonomy_v2/pipeline/skills_taxonomy/output_taxonomy.py
Due: black, check-yaml

function in build taxonomy utils to append clustering with manual interventions
  skills_taxonomy_v2/pipeline/skills_taxonomy/build_taxonomy_utils.py
Due: black

Add little script to calculate mean embeddings for each skill
  skills_taxonomy_v2/pipeline/skills_extraction/skills_naming_embeddings.py
Due: black

Correcy misatke in skills extraction readme
  skills_taxonomy_v2/pipeline/skills_extraction/README.md
Due: none

Add other analysis bits to readme
  skills_taxonomy_v2/analysis/README.md
Due: none

Add new manual mapper dict from consultation with India and George. Also update some of the manual mapper functions
  skills_taxonomy_v2/pipeline/skills_taxonomy/build_taxonomy.py
  skills_taxonomy_v2/pipeline/skills_taxonomy/build_taxonomy_utils.py
  skills_taxonomy_v2/utils/2021.12.03_level_a_mapper_dict.json
Due: black

Update build_taxonomy.py to have the option of not creating a level D, or when skills names might not exist. Also separated out loading of data and includes option for new format of skills data.
  skills_taxonomy_v2/pipeline/skills_taxonomy/build_taxonomy.py
Due: black

Remove unneccessary imports from naming skills
  skills_taxonomy_v2/pipeline/skills_extraction/skills_naming.py
  skills_taxonomy_v2/pipeline/skills_extraction/skills_naming_utils.py
Due: black

Readd numba and remove unneccessary imports
  requirements.txt
  skills_taxonomy_v2/pipeline/skills_extraction/skills_naming.py
Due: black

Fix index bug in cluster embeddings
  skills_taxonomy_v2/pipeline/skills_extraction/cluster_embeddings.py
Due: black

Add some naming fixes to the building of the taxonomy and outputting, no duplicate names, also output centroid
  skills_taxonomy_v2/config/skills_taxonomy/2021.11.30.yaml
  skills_taxonomy_v2/pipeline/skills_taxonomy/build_taxonomy.py
  skills_taxonomy_v2/pipeline/skills_taxonomy/build_taxonomy_utils.py
  skills_taxonomy_v2/pipeline/skills_taxonomy/output_taxonomy.py
  skills_taxonomy_v2/utils/2021.12.20_level_a_mapper_dict.json
Due: black, check-yaml

Rerun skills taxonomy (#77)
  requirements.txt
  skills_taxonomy_v2/analysis/README.md
  skills_taxonomy_v2/config/skills_extraction/2021.11.05.yaml
  skills_taxonomy_v2/config/skills_extraction/2021.11.09.yaml
  skills_taxonomy_v2/config/skills_extraction/2021.12.07.yaml
  skills_taxonomy_v2/config/skills_taxonomy/2021.11.30.yaml
  skills_taxonomy_v2/pipeline/sentence_classifier/utils.py
  skills_taxonomy_v2/pipeline/skills_extraction/README.md
  skills_taxonomy_v2/pipeline/skills_extraction/cluster_embeddings.py
  skills_taxonomy_v2/pipeline/skills_extraction/skills_naming.py
  skills_taxonomy_v2/pipeline/skills_extraction/skills_naming_embeddings.py
  skills_taxonomy_v2/pipeline/skills_extraction/skills_naming_utils.py
  skills_taxonomy_v2/pipeline/skills_taxonomy/README.md
  skills_taxonomy_v2/pipeline/skills_taxonomy/build_taxonomy.py
  skills_taxonomy_v2/pipeline/skills_taxonomy/build_taxonomy_utils.py
  skills_taxonomy_v2/pipeline/skills_taxonomy/output_taxonomy.py
  skills_taxonomy_v2/utils/2021.12.03_level_a_mapper_dict.json
  skills_taxonomy_v2/utils/2021.12.20_level_a_mapper_dict.json
Due: black, check-yaml

Update filter tk data for new sample
  skills_taxonomy_v2/pipeline/tk_data_analysis/filter_bulk_data.py
Due: black

Use full job adverts sample in filter bulk data
  skills_taxonomy_v2/pipeline/tk_data_analysis/filter_bulk_data.py
Due: black

use set
  skills_taxonomy_v2/pipeline/tk_data_analysis/filter_bulk_data.py
Due: black

New method for filter metadata sample
  skills_taxonomy_v2/pipeline/tk_data_analysis/filter_bulk_data.py
Due: black

Append to list not add to dict
  skills_taxonomy_v2/pipeline/tk_data_analysis/filter_bulk_data.py
Due: black

Correct comma
  skills_taxonomy_v2/pipeline/tk_data_analysis/filter_bulk_data.py
Due: black

New method to get bulk metadata without having problems with duplicate job ids
  skills_taxonomy_v2/pipeline/tk_data_analysis/get_bulk_metadata.py
Due: black

Add dependence
  skills_taxonomy_v2/pipeline/tk_data_analysis/get_bulk_metadata.py
Due: black

Save out remainder data
  skills_taxonomy_v2/pipeline/tk_data_analysis/get_bulk_metadata.py
Due: black

Add script to find the duplicated skill sentences
  skills_taxonomy_v2/pipeline/tk_data_analysis/get_duplicate_sentence_skills.py
Due: black

fix save issue
  skills_taxonomy_v2/pipeline/tk_data_analysis/get_duplicate_sentence_skills.py
Due: black

Add new figures and notebook analysis for new taxonomy
  outputs/reports/figures/extract_skill_methodology_overview.jpg
  outputs/reports/figures/hierarchy_numbers.jpg
  outputs/reports/figures/hierarchy_overview.jpg
  skills_taxonomy_v2/analysis/skills_extraction/notebooks/Skills Extraction Analysis and Figures.py
  skills_taxonomy_v2/analysis/skills_taxonomy/notebooks/Skills Taxonomy Analysis and Figures.py
Due: black

Add extra info about sample size to readmes
  skills_taxonomy_v2/pipeline/sentence_classifier/README.md
  skills_taxonomy_v2/pipeline/skills_extraction/README.md
Due: none

Use manual names for level A names in build taxonomy
  skills_taxonomy_v2/pipeline/skills_taxonomy/build_taxonomy.py
Due: black

Add script to find all the tk data with no text field
  skills_taxonomy_v2/pipeline/tk_data_analysis/get_no_texts_tk_data.py
Due: black

Get no text and full text counts
  skills_taxonomy_v2/pipeline/tk_data_analysis/get_no_texts_tk_data.py
Due: black

Add length diagnostic
  skills_taxonomy_v2/pipeline/tk_data_analysis/get_no_texts_tk_data.py
Due: black

Add script to get sentence skill preds for new job adverts and append to results
  skills_taxonomy_v2/pipeline/sentence_classifier/predict_sentence_class_inc_replacements.py
Due: black
