Repository nestauk/skills-taxonomy-v2: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-toml, check-yaml

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

add renamed, pep8 skills classifier py files
  skills_taxonomy_v2/analysis/sentence_classifier/notebooks/Skills Classifier 1.0 - Analyse sentence predictions.py
  skills_taxonomy_v2/analysis/sentence_classifier/notebooks/Skills Classifier 1.0 - Doccano Baseline Classifier.py
  skills_taxonomy_v2/analysis/sentence_classifier/notebooks/Skills Classifier 1.0 - TextKernel Automated Training Data.py
Due: black

rename skills classifier 2.0
  skills_taxonomy_v2/analysis/sentence_classifier/notebooks/Skills Classifier 2.0 - improve_classifier.ipynb
Due: none

script renaming, delete some files
  skills_taxonomy_v2/analysis/sentence_classifier/notebooks/Skills Classifier 1.0 - Sentence Classifier.py
  skills_taxonomy_v2/analysis/sentence_classifier/notebooks/improve_classifier.ipynb
  skills_taxonomy_v2/analysis/sentence_classifier/notebooks/improve_classifier.py
Due: black

pep8 the code
  skills_taxonomy_v2/analysis/sentence_classifier/Sentence Splitter Experiments.md
  skills_taxonomy_v2/analysis/sentence_classifier/notebooks/Skills Classifier 1.0 - Analyse sentence predictions.py
  skills_taxonomy_v2/analysis/sentence_classifier/notebooks/Skills Classifier 1.0 - Doccano Baseline Classifier.py
  skills_taxonomy_v2/analysis/sentence_classifier/notebooks/Skills Classifier 1.0 - Sentence Classifier.py
  skills_taxonomy_v2/analysis/sentence_classifier/notebooks/Skills Classifier 1.0 - TextKernel Automated Training Data.py
  skills_taxonomy_v2/analysis/sentence_classifier/skills_classifier_2.0_experiments.md
  skills_taxonomy_v2/analysis/skills_extraction/notebooks/Effect of sample size.py
  skills_taxonomy_v2/analysis/skills_extraction/notebooks/Experiment - Network approach.py
  skills_taxonomy_v2/analysis/skills_extraction/notebooks/Experiment - Transformers sentence embeddings approach - masked.py
  skills_taxonomy_v2/analysis/skills_extraction/notebooks/Experiment - Transformers sentence embeddings approach - unmasked.py
  skills_taxonomy_v2/analysis/skills_extraction/notebooks/Experiment - Word2vec approach.py
  skills_taxonomy_v2/analysis/skills_extraction/notebooks/Skills Extraction Analysis and Figures.py
  skills_taxonomy_v2/analysis/skills_taxonomy/notebooks/Evaluate hierarchy.py
  skills_taxonomy_v2/analysis/skills_taxonomy/notebooks/Plot interactive hierarchy.py
  skills_taxonomy_v2/analysis/skills_taxonomy/notebooks/Renaming sample of skill groups.py
  skills_taxonomy_v2/analysis/skills_taxonomy/notebooks/Skills Taxonomy Analysis and Figures.py
  skills_taxonomy_v2/analysis/skills_taxonomy/notebooks/Tranversal Skills.py
  skills_taxonomy_v2/analysis/skills_taxonomy_application/Application - COVID.py
  skills_taxonomy_v2/analysis/skills_taxonomy_application/Application - Geography.py
  skills_taxonomy_v2/analysis/skills_taxonomy_application/locations_to_nuts.py
  skills_taxonomy_v2/analysis/tk_analysis/TextKernel Data Sample for Skills.py
  skills_taxonomy_v2/analysis/tk_analysis/TextKernel Data.py
  skills_taxonomy_v2/getters/s3_data.py
  skills_taxonomy_v2/pipeline/sentence_classifier/predict_sentence_class.py
  skills_taxonomy_v2/pipeline/sentence_classifier/sentence_classifier.py
  skills_taxonomy_v2/pipeline/sentence_classifier/utils.py
  skills_taxonomy_v2/pipeline/skills_extraction/cleaning_sentences.py
  skills_taxonomy_v2/pipeline/skills_extraction/esco_skills_mappings.py
  skills_taxonomy_v2/pipeline/skills_extraction/extract_skills.py
  skills_taxonomy_v2/pipeline/skills_extraction/extract_skills_utils.py
  skills_taxonomy_v2/pipeline/skills_extraction/get_sentence_embeddings.py
  skills_taxonomy_v2/pipeline/skills_extraction/skills_naming.py
  skills_taxonomy_v2/pipeline/skills_extraction/skills_naming_utils.py
  skills_taxonomy_v2/pipeline/skills_taxonomy/build_taxonomy.py
  skills_taxonomy_v2/pipeline/skills_taxonomy/build_taxonomy_utils.py
  skills_taxonomy_v2/pipeline/tk_data_analysis/filter_bulk_data.py
  skills_taxonomy_v2/pipeline/tk_data_analysis/get_bulk_metadata.py
Due: black

update nuts2 to nuts
  skills_taxonomy_v2/analysis/skills_taxonomy_application/locations_to_nuts.py
Due: black

Add proportions to tranversal skill output and output level A covid proportion changes in table too
  skills_taxonomy_v2/analysis/skills_taxonomy/notebooks/Tranversal Skills.py
  skills_taxonomy_v2/analysis/skills_taxonomy_application/Application - COVID.py
Due: black

black plot interactictive hier
  skills_taxonomy_v2/analysis/skills_taxonomy/notebooks/Plot interactive hierarchy.py
Due: black

apply black to both transversal and geography application notebooks
  skills_taxonomy_v2/analysis/skills_taxonomy/notebooks/Tranversal Skills.py
  skills_taxonomy_v2/analysis/skills_taxonomy_application/Application - Geography.py
Due: black

Interactive skills hierarchy plot notebook (#63)
  skills_taxonomy_v2/analysis/skills_extraction/notebooks/Effect of sample size.py
  skills_taxonomy_v2/analysis/skills_taxonomy/notebooks/Tranversal Skills.py
  skills_taxonomy_v2/analysis/skills_taxonomy_application/Application - COVID.py
  skills_taxonomy_v2/analysis/skills_taxonomy_application/Application - Geography.py
Due: black

added streamlit commits
  requirements.txt
Due: none

added streamlit code
  skills_taxonomy_v2/analysis/skills_taxonomy/notebooks/Plot interactive hierarchy.py
Due: black

Add some analysis to look at how many sentences are predicted to be skill sentences from a sample
  skills_taxonomy_v2/analysis/sentence_classifier/notebooks/Skills Classifier 1.0 - Analyse sentence predictions.py
Due: black

Change alpha value for a skills in 2d space plot
  skills_taxonomy_v2/analysis/skills_extraction/notebooks/Skills Extraction Analysis and Figures.py
Due: black

Use the percetnage of skills from each level in job title skills analysis outputs
  skills_taxonomy_v2/analysis/skills_taxonomy/notebooks/Evaluate hierarchy.py
Due: black

some changes to the covid analysis notebook - looking at date distribution, only using skills which make up a certain percetnage in output
  skills_taxonomy_v2/analysis/skills_taxonomy_application/Application - COVID.py
Due: black

Edit region application notebook plots to be colour coded not radius size
  skills_taxonomy_v2/analysis/skills_taxonomy_application/Application - Geography.py
Due: black

Cath analysis changes (#66)
  skills_taxonomy_v2/analysis/sentence_classifier/notebooks/Skills Classifier 1.0 - Analyse sentence predictions.py
  skills_taxonomy_v2/analysis/skills_extraction/notebooks/Skills Extraction Analysis and Figures.py
  skills_taxonomy_v2/analysis/skills_taxonomy/notebooks/Evaluate hierarchy.py
  skills_taxonomy_v2/analysis/skills_taxonomy_application/Application - COVID.py
  skills_taxonomy_v2/analysis/skills_taxonomy_application/Application - Geography.py
Due: black

correct file locations
  README.md
Due: none

Link pipeline docs in main readme
  README.md
Due: none

Create script to get taxonomy json output in a nice user freindly version - skill groups names given in a cleaner way
  skills_taxonomy_v2/pipeline/skills_taxonomy/output_taxonomy.py
Due: black

Rename pipeline documents to 'README'
  skills_taxonomy_v2/pipeline/sentence_classifier/README.md
  skills_taxonomy_v2/pipeline/skills_extraction/README.md
  skills_taxonomy_v2/pipeline/skills_taxonomy/README.md
Due: none

Add figure for readme and link to correct document locations, remove ec2 instructions
  README.md
  outputs/reports/figures/methodology_overview_pipeline.jpg
Due: none

Update skill extraction readme and add figure
  README.md
  outputs/skills_extraction/figures/2021.08.31_skill_clusters.png
  skills_taxonomy_v2/pipeline/skills_extraction/README.md
Due: none

Add to skills taxonomy readme and some figures
  README.md
  outputs/reports/figures/extract_skill_methodology_overview.jpg
  outputs/reports/figures/hierarchy_numbers.jpg
  outputs/reports/figures/hierarchy_overview.jpg
  outputs/reports/figures/taxonomy_example.jpg
  skills_taxonomy_v2/pipeline/skills_extraction/README.md
  skills_taxonomy_v2/pipeline/skills_taxonomy/README.md
Due: none

Add figures etc to gitignore
  .gitignore
Due: none

Change skills taxonomy s3 location to be consistantly named
  skills_taxonomy_v2/analysis/skills_taxonomy/notebooks/Evaluate hierarchy.py
  skills_taxonomy_v2/analysis/skills_taxonomy/notebooks/Plot interactive hierarchy.py
  skills_taxonomy_v2/analysis/skills_taxonomy/notebooks/Renaming sample of skill groups.py
  skills_taxonomy_v2/analysis/skills_taxonomy/notebooks/Skills Taxonomy Analysis and Figures.py
  skills_taxonomy_v2/analysis/skills_taxonomy/notebooks/Tranversal Skills.py
  skills_taxonomy_v2/analysis/skills_taxonomy_application/Application - COVID.py
  skills_taxonomy_v2/analysis/skills_taxonomy_application/Application - Geography.py
  skills_taxonomy_v2/config/skills_taxonomy/2021.09.06.yaml
  skills_taxonomy_v2/pipeline/skills_taxonomy/README.md
Due: black, check-yaml

Updating readmes (#65)
  .gitignore
  README.md
  outputs/reports/figures/extract_skill_methodology_overview.jpg
  outputs/reports/figures/hierarchy_numbers.jpg
  outputs/reports/figures/hierarchy_overview.jpg
  outputs/reports/figures/methodology_overview_pipeline.jpg
  outputs/reports/figures/taxonomy_example.jpg
  outputs/skills_extraction/figures/2021.08.31_skill_clusters.png
  skills_taxonomy_v2/analysis/skills_taxonomy/notebooks/Evaluate hierarchy.py
  skills_taxonomy_v2/analysis/skills_taxonomy/notebooks/Plot interactive hierarchy.py
  skills_taxonomy_v2/analysis/skills_taxonomy/notebooks/Renaming sample of skill groups.py
  skills_taxonomy_v2/analysis/skills_taxonomy/notebooks/Skills Taxonomy Analysis and Figures.py
  skills_taxonomy_v2/analysis/skills_taxonomy/notebooks/Tranversal Skills.py
  skills_taxonomy_v2/analysis/skills_taxonomy_application/Application - COVID.py
  skills_taxonomy_v2/analysis/skills_taxonomy_application/Application - Geography.py
  skills_taxonomy_v2/config/skills_taxonomy/2021.09.06.yaml
  skills_taxonomy_v2/pipeline/sentence_classifier/README.md
  skills_taxonomy_v2/pipeline/skills_extraction/README.md
  skills_taxonomy_v2/pipeline/skills_taxonomy/README.md
  skills_taxonomy_v2/pipeline/skills_taxonomy/Skills Taxonomy.md
  skills_taxonomy_v2/pipeline/skills_taxonomy/output_taxonomy.py
Due: black, check-yaml

New config for predict sentnce class
  skills_taxonomy_v2/config/predict_skill_sentences/2021.10.26.yaml
Due: check-yaml

Remove testing change
  skills_taxonomy_v2/pipeline/sentence_classifier/predict_sentence_class.py
Due: black

config file for getting job advert sample
  skills_taxonomy_v2/config/tk_data_sample/2021.10.25.yaml
Due: check-yaml

Use nltk sentence splitter instead of nlp and include functions for chunking of data when it's being used
  skills_taxonomy_v2/pipeline/sentence_classifier/utils.py
Due: black

Add a batch_size parameter to BertVectorizer and SentenceClassifier
  skills_taxonomy_v2/pipeline/sentence_classifier/sentence_classifier.py
Due: black

Use a multiprocess and batch size optional parameters and chunk up data for splitting, change to 27.yaml as default
  skills_taxonomy_v2/pipeline/sentence_classifier/predict_sentence_class.py
Due: black

Add new config for predict skill sentences
  skills_taxonomy_v2/config/predict_skill_sentences/2021.10.27.yaml
Due: check-yaml

added updated skill naming notes
  skills_taxonomy_v2/analysis/skills_extraction/Skill Naming Experiments.md
Due: none

added pandas screenshots of different keyword extraction techniques
  skills_taxonomy_v2/analysis/skills_extraction/figures/naming_experiments/chunk_embeddings.png
  skills_taxonomy_v2/analysis/skills_extraction/figures/naming_experiments/phrases_embeddings.png
  skills_taxonomy_v2/analysis/skills_extraction/figures/naming_experiments/pyrank_embeddings.png
Due: none

added 1 line on where better_skills_naming.py is located
  skills_taxonomy_v2/analysis/skills_extraction/Skill Naming Experiments.md
Due: none

added patterns package for better naming experiments
  requirements.txt
Due: none

added better naming experiments.py
  skills_taxonomy_v2/analysis/skills_extraction/notebooks/better_skills_naming.py
Due: black

Path conditions:
  black: any of: \.py$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
