Repository nestauk/skills-taxonomy-v2: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-toml, check-yaml

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        require_serial: true
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-merge-conflict
        name: Check for files with merge conflict strings
        entry: check-merge-conflict
        language: system
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      # - id: reorder-python-imports
      #   name: Reorder python imports
      #   entry: reorder-python-imports
      #   language: system
      #   types: [python]
      # - id: flake8
      #   name: flake8
      #   entry: flake8
      #   language: system
      #   types: [python]
      #   args: ["--config=.flake8"]
      #   require_serial: true
      - id: no-commit-to-branch
        name: Prevent commits to dev / master
        entry: no-commit-to-branch
        language: python
        args: ["-b", dev, "-b", master, "-b", main]
        pass_filenames: false
  - repo: https://github.com/prettier/pre-commit
    rev: v2.1.2
    hooks:
      - id: prettier

Improve predict replacemnet
  skills_taxonomy_v2/pipeline/sentence_classifier/predict_sentence_class_inc_replacements.py
Due: black

Use chunks of job adverts for predicting extra skill sentences
  skills_taxonomy_v2/pipeline/sentence_classifier/predict_sentence_class_inc_replacements.py
Due: black

Add init to sentence classifier folder, needed for metaflow
  skills_taxonomy_v2/pipeline/sentence_classifier/__init__.py
Due: black

Add more diagnostic data to get_no_texts_tk_data.py
  skills_taxonomy_v2/analysis/tk_analysis/TextKernel Data Sample for Skills.py
  skills_taxonomy_v2/pipeline/tk_data_analysis/get_no_texts_tk_data.py
Due: black

Add extra data to the tk sample to replace sample found from expired files
  skills_taxonomy_v2/pipeline/tk_data_analysis/filter_bulk_data.py
  skills_taxonomy_v2/pipeline/tk_data_analysis/get_tk_sample.py
Due: black

Add a print of the figure for the multiskill analysis
  skills_taxonomy_v2/analysis/skills_extraction/notebooks/Multi-skill sentences.py
Due: black

Re-run some analysis, and investgate and fix tk sample (#78)
  outputs/reports/figures/extract_skill_methodology_overview.jpg
  outputs/reports/figures/hierarchy_numbers.jpg
  outputs/reports/figures/hierarchy_overview.jpg
  skills_taxonomy_v2/analysis/skills_extraction/notebooks/Multi-skill sentences.py
  skills_taxonomy_v2/analysis/skills_extraction/notebooks/Skills Extraction Analysis and Figures.py
  skills_taxonomy_v2/analysis/skills_taxonomy/notebooks/Skills Taxonomy Analysis and Figures.py
  skills_taxonomy_v2/analysis/tk_analysis/TextKernel Data Sample for Skills.py
  skills_taxonomy_v2/pipeline/sentence_classifier/README.md
  skills_taxonomy_v2/pipeline/sentence_classifier/__init__.py
  skills_taxonomy_v2/pipeline/sentence_classifier/predict_sentence_class_inc_replacements.py
  skills_taxonomy_v2/pipeline/skills_extraction/README.md
  skills_taxonomy_v2/pipeline/skills_taxonomy/build_taxonomy.py
  skills_taxonomy_v2/pipeline/tk_data_analysis/filter_bulk_data.py
  skills_taxonomy_v2/pipeline/tk_data_analysis/get_bulk_metadata.py
  skills_taxonomy_v2/pipeline/tk_data_analysis/get_duplicate_sentence_skills.py
  skills_taxonomy_v2/pipeline/tk_data_analysis/get_no_texts_tk_data.py
  skills_taxonomy_v2/pipeline/tk_data_analysis/get_tk_sample.py
Due: black

Make things work for metaflow use
  bin/install_metaflow_aws.sh
  requirements.txt
  skills_taxonomy_v2/pipeline/sentence_classifier/utils.py
Due: black

Add flow for predict skill sentences
  skills_taxonomy_v2/pipeline/sentence_classifier/predict_sentence_class_extras/flow.py
  skills_taxonomy_v2/pipeline/sentence_classifier/predict_sentence_class_extras/utils.py
Due: black

Addd manifest file, remove pattern from requirements and only process certain files in the flow.py
  MANIFEST.in
  requirements.txt
  skills_taxonomy_v2/pipeline/sentence_classifier/predict_sentence_class_extras/flow.py
Due: black

Add sentence embeddings metaflow steps
  skills_taxonomy_v2/pipeline/skills_extraction/metaflow/flow.py
  skills_taxonomy_v2/pipeline/skills_extraction/metaflow/utils.py
Due: black

Speed up processing sentences step
  skills_taxonomy_v2/pipeline/skills_extraction/metaflow/flow.py
  skills_taxonomy_v2/pipeline/skills_extraction/metaflow/utils.py
Due: black

Add skill sentence results to readme
  skills_taxonomy_v2/pipeline/sentence_classifier/README.md
Due: none

Adapt the tk sample and metadata filtering scripts for new sample
  skills_taxonomy_v2/pipeline/tk_data_analysis/filter_bulk_data.py
  skills_taxonomy_v2/pipeline/tk_data_analysis/get_tk_sample.py
Due: black

Delete now unused metaflow scripts for sentence_classifier
  skills_taxonomy_v2/pipeline/sentence_classifier/predict_sentence_class_extras/flow.py
  skills_taxonomy_v2/pipeline/sentence_classifier/predict_sentence_class_extras/utils.py
Due: black

Add new skill extract config and init files for metaflow
  skills_taxonomy_v2/config/skills_extraction/2022.01.14.yaml
  skills_taxonomy_v2/pipeline/skills_extraction/__init__.py
  skills_taxonomy_v2/pipeline/skills_extraction/metaflow/__init__.py
Due: black, check-yaml

Can't remove tok2vec from spacy pipeline since it breaks silently
  skills_taxonomy_v2/pipeline/skills_extraction/metaflow/flow.py
Due: black

Edit get_embeddings_data_sample.py analysis for latest data date
  skills_taxonomy_v2/analysis/skills_extraction/get_embeddings_data_sample.py
Due: black

Move get embedding sample to pipeline
  skills_taxonomy_v2/pipeline/skills_extraction/get_embeddings_data_sample.py
Due: black

Add more of a description to the embeddings data sample script
  skills_taxonomy_v2/pipeline/skills_extraction/get_embeddings_data_sample.py
Due: black

Look for already processed embeddings before running the embeddings flow
  skills_taxonomy_v2/pipeline/skills_extraction/metaflow/flow.py
  skills_taxonomy_v2/pipeline/skills_extraction/metaflow/utils.py
Due: black

Relative import fixes
  skills_taxonomy_v2/pipeline/sentence_classifier/predict_sentence_class.py
  skills_taxonomy_v2/pipeline/sentence_classifier/utils.py
Due: black

Random shuffle sample and output in nicer way
  skills_taxonomy_v2/pipeline/skills_extraction/get_embeddings_data_sample.py
Due: black

Add to skill extraction readme the new config results, add a date stamp to output of reduce_embeddings.py
  skills_taxonomy_v2/config/skills_extraction/2022.01.14.yaml
  skills_taxonomy_v2/pipeline/skills_extraction/README.md
  skills_taxonomy_v2/pipeline/skills_extraction/reduce_embeddings.py
Due: black, check-yaml

Add some prints to getting embedding sample
  skills_taxonomy_v2/pipeline/skills_extraction/get_embeddings_data_sample.py
Due: black

Add os import to reduce embeddings
  skills_taxonomy_v2/pipeline/skills_extraction/reduce_embeddings.py
Due: black

Update dates in getting skill names mean embeddings
  skills_taxonomy_v2/pipeline/skills_extraction/skills_naming_embeddings.py
Due: black

Some changes for the skill naming
  skills_taxonomy_v2/config/skills_extraction/2022.01.14.yaml
  skills_taxonomy_v2/pipeline/skills_extraction/skills_naming.py
  skills_taxonomy_v2/pipeline/skills_extraction/skills_naming_embeddings.py
Due: black, check-yaml

Some more fixes to naming
  skills_taxonomy_v2/pipeline/skills_extraction/skills_naming.py
  skills_taxonomy_v2/pipeline/skills_extraction/skills_naming_embeddings.py
Due: black

Use nltk lemmatize instead of pattern for naming
  skills_taxonomy_v2/pipeline/skills_extraction/skills_naming_utils.py
Due: black

Add vocab 2d to bert model - i.e. create embeddings in same way as we did for all the embeddings
  skills_taxonomy_v2/pipeline/skills_extraction/skills_naming_utils.py
Due: black

Add new config, mapper and clean up of build taxonomy
  skills_taxonomy_v2/config/skills_taxonomy/2022.01.21.yaml
  skills_taxonomy_v2/pipeline/skills_taxonomy/build_taxonomy.py
  skills_taxonomy_v2/utils/2022.01.21_level_a_mapper_dict.json
Due: black, check-yaml

Update skills extraction readme information
  skills_taxonomy_v2/pipeline/skills_extraction/README.md
Due: none

Add a test of actual and preduction comparisons, plus output a lightweight json for the cluster embeddings
  skills_taxonomy_v2/pipeline/skills_extraction/cluster_embeddings.py
Due: black

Decrease memory slightly in flow due to batch error
  skills_taxonomy_v2/pipeline/skills_extraction/metaflow/flow.py
Due: black

Update skills extraction analysis notebook with latest
  skills_taxonomy_v2/analysis/skills_extraction/notebooks/Skills Extraction Analysis and Figures.py
Due: black

Add a few print outs and config file changes to a few files
  requirements.txt
  skills_taxonomy_v2/pipeline/skills_extraction/reduce_embeddings.py
  skills_taxonomy_v2/pipeline/skills_taxonomy/output_taxonomy.py
  skills_taxonomy_v2/utils/2022.01.21_level_a_mapper_dict.json
Due: black

Rerunning extracting skills (#79)
  MANIFEST.in
  bin/install_metaflow_aws.sh
  requirements.txt
  skills_taxonomy_v2/analysis/skills_extraction/notebooks/Skills Extraction Analysis and Figures.py
  skills_taxonomy_v2/config/skills_extraction/2022.01.14.yaml
  skills_taxonomy_v2/config/skills_taxonomy/2022.01.21.yaml
  skills_taxonomy_v2/pipeline/sentence_classifier/README.md
  skills_taxonomy_v2/pipeline/sentence_classifier/predict_sentence_class.py
  skills_taxonomy_v2/pipeline/sentence_classifier/utils.py
  skills_taxonomy_v2/pipeline/skills_extraction/README.md
  skills_taxonomy_v2/pipeline/skills_extraction/__init__.py
  skills_taxonomy_v2/pipeline/skills_extraction/cluster_embeddings.py
  skills_taxonomy_v2/pipeline/skills_extraction/get_embeddings_data_sample.py
  skills_taxonomy_v2/pipeline/skills_extraction/metaflow/__init__.py
  skills_taxonomy_v2/pipeline/skills_extraction/metaflow/flow.py
  skills_taxonomy_v2/pipeline/skills_extraction/metaflow/utils.py
  skills_taxonomy_v2/pipeline/skills_extraction/reduce_embeddings.py
  skills_taxonomy_v2/pipeline/skills_extraction/skills_naming.py
  skills_taxonomy_v2/pipeline/skills_extraction/skills_naming_embeddings.py
  skills_taxonomy_v2/pipeline/skills_extraction/skills_naming_utils.py
  skills_taxonomy_v2/pipeline/skills_taxonomy/build_taxonomy.py
  skills_taxonomy_v2/pipeline/skills_taxonomy/output_taxonomy.py
  skills_taxonomy_v2/pipeline/tk_data_analysis/filter_bulk_data.py
  skills_taxonomy_v2/pipeline/tk_data_analysis/get_tk_sample.py
  skills_taxonomy_v2/utils/2022.01.21_level_a_mapper_dict.json
Due: black, check-yaml

Some edits to the naming of level b and c groups in build taxonomy, add config for new analysis
  skills_taxonomy_v2/config/skills_taxonomy_application/2022.01.21.yaml
  skills_taxonomy_v2/pipeline/skills_extraction/README.md
  skills_taxonomy_v2/pipeline/skills_taxonomy/build_taxonomy.py
  skills_taxonomy_v2/utils/2022.01.21_level_a_mapper_dict.json
Due: black, check-yaml

Changes to locations_to_nuts to allow for new data structure
  skills_taxonomy_v2/analysis/skills_taxonomy_application/locations_to_nuts.py
Due: black
