Repository nestauk/skills-taxonomy-v2: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-toml, check-yaml

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        require_serial: true
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-merge-conflict
        name: Check for files with merge conflict strings
        entry: check-merge-conflict
        language: system
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      # - id: reorder-python-imports
      #   name: Reorder python imports
      #   entry: reorder-python-imports
      #   language: system
      #   types: [python]
      # - id: flake8
      #   name: flake8
      #   entry: flake8
      #   language: system
      #   types: [python]
      #   args: ["--config=.flake8"]
      #   require_serial: true
      - id: no-commit-to-branch
        name: Prevent commits to dev / master
        entry: no-commit-to-branch
        language: python
        args: ["-b", dev, "-b", master, "-b", main]
        pass_filenames: false
  - repo: https://github.com/prettier/pre-commit
    rev: v2.1.2
    hooks:
      - id: prettier

added new labelled training data
  inputs/new_training_data/final_training_data.pickle
Due: none

updated experiments
  skills_taxonomy_v2/analysis/sentence_classifier/skills_classifier_2.0_experiments.md
Due: none

Addressing @india-kerle PR comments - add docstrings, put custom stop words in a text file, add python-levenshtein to requirements
  requirements.txt
  skills_taxonomy_v2/__init__.py
  skills_taxonomy_v2/pipeline/skills_extraction/extract_skills_utils.py
  skills_taxonomy_v2/pipeline/skills_extraction/get_sentence_embeddings.py
  skills_taxonomy_v2/pipeline/skills_extraction/get_sentence_embeddings_utils.py
  skills_taxonomy_v2/utils/custom_stop_words.txt
Due: black

Scaling up extracting skills pipeline (#31)
  requirements.txt
  skills_taxonomy_v2/__init__.py
  skills_taxonomy_v2/analysis/skills_extraction/Skills Extraction Experiments.md
  skills_taxonomy_v2/analysis/skills_extraction/figures/masked_sentence_embeddings_experiment.png
  skills_taxonomy_v2/analysis/skills_extraction/figures/masked_sentence_embeddings_experiment_notclust.png
  skills_taxonomy_v2/analysis/skills_extraction/figures/unmasked_sentence_embeddings_experiment.png
  skills_taxonomy_v2/analysis/skills_extraction/figures/word2vec_embeddings_experiment.png
  skills_taxonomy_v2/analysis/skills_extraction/notebooks/Extract skills from clusters.py
  skills_taxonomy_v2/analysis/skills_extraction/notebooks/Job advert skills comparison.py
  skills_taxonomy_v2/analysis/skills_extraction/notebooks/Merge with ESCO.py
  skills_taxonomy_v2/analysis/skills_extraction/notebooks/Skills Extraction Figures.py
  skills_taxonomy_v2/analysis/skills_extraction/notebooks/Transformers sentence embeddings approach - masked.py
  skills_taxonomy_v2/analysis/skills_extraction/notebooks/Transformers sentence embeddings approach - unmasked.py
  skills_taxonomy_v2/config/skills_extraction/2021.08.02.yaml
  skills_taxonomy_v2/getters/s3_data.py
  skills_taxonomy_v2/pipeline/skills_extraction/Skills Extraction.md
  skills_taxonomy_v2/pipeline/skills_extraction/esco_skills_mappings.py
  skills_taxonomy_v2/pipeline/skills_extraction/extract_skills.py
  skills_taxonomy_v2/pipeline/skills_extraction/extract_skills_utils.py
  skills_taxonomy_v2/pipeline/skills_extraction/get_sentence_embeddings.py
  skills_taxonomy_v2/pipeline/skills_extraction/get_sentence_embeddings_utils.py
  skills_taxonomy_v2/pipeline/skills_extraction/get_word_embeddings.py
  skills_taxonomy_v2/utils/custom_stop_words.txt
Due: black, check-yaml

added new training data path to base config
  skills_taxonomy_v2/config/base.yaml
Due: check-yaml

added new pipeline config file
  skills_taxonomy_v2/config/sentence_classifier/2021.08.16.yaml
Due: check-yaml

added new utils functions
  skills_taxonomy_v2/pipeline/sentence_classifier/utils.py
Due: black

removed module
  skills_taxonomy_v2/pipeline/sentence_classifier/create_training_data.py
Due: black

updated sentence classifier readme
  skills_taxonomy_v2/pipeline/sentence_classifier/sentence_classifier.md
Due: none

renamed classifier md with _
  skills_taxonomy_v2/pipeline/sentence_classifier/Sentence Classifier.md
Due: none

updated config file
  skills_taxonomy_v2/config/sentence_classifier/2021.08.16.yaml
Due: check-yaml

updated readme
  skills_taxonomy_v2/pipeline/sentence_classifier/sentence_classifier.md
Due: none

modified slightly for utils update
  skills_taxonomy_v2/pipeline/sentence_classifier/predict_sentence_class.py
Due: black

updated utils for cleaning, splitting
  skills_taxonomy_v2/pipeline/sentence_classifier/utils.py
Due: black

updated pipeline w/ new training data
  skills_taxonomy_v2/pipeline/sentence_classifier/sentence_classifier.py
Due: black

slightly modified for utils
  skills_taxonomy_v2/pipeline/sentence_classifier/predict_sentence_class.py
Due: black

new predict sents config
  skills_taxonomy_v2/config/predict_skill_sentences/2021.08.16.yaml
Due: check-yaml

new predict sents config
  skills_taxonomy_v2/config/predict_skill_sentences/2021.08.16.local.sample.yaml
Due: check-yaml

new sents config
  skills_taxonomy_v2/config/predict_skill_sentences/2021.08.16.yaml
Due: check-yaml

new trained model
  outputs/sentence_classifier/data/skill_sentences/2021.07.09.small_jobsnew1_embeddings.pkl
  outputs/sentence_classifier/data/skill_sentences/2021.07.09.small_jobsnew1_job_ids.pkl
  outputs/sentence_classifier/data/skill_sentences/2021.07.09.small_jobsnew1_predictions.pkl
  outputs/sentence_classifier/data/skill_sentences/2021.07.09.small_jobsnew1_sentences.pkl
  outputs/sentence_classifier/models/2021_07_09_small.pkl
  outputs/sentence_classifier/models/2021_07_09_small_results.txt
  outputs/sentence_classifier/models/2021_08_16.pkl
  outputs/sentence_classifier/models/2021_08_16_results.txt
Due: none

gave examples of mislabelled sents
  skills_taxonomy_v2/pipeline/sentence_classifier/sentence_classifier.md
Due: none

updated classifier
  skills_taxonomy_v2/pipeline/sentence_classifier/sentence_classifier.py
Due: black

updated predict class
  skills_taxonomy_v2/pipeline/sentence_classifier/predict_sentence_class.py
Due: black

updated yaml file
  skills_taxonomy_v2/config/sentence_classifier/2021.08.16.yaml
Due: check-yaml

updated predict
  skills_taxonomy_v2/pipeline/sentence_classifier/predict_sentence_class.py
Due: black

updated utils
  skills_taxonomy_v2/pipeline/sentence_classifier/utils.py
Due: black

updated yaml
  skills_taxonomy_v2/config/sentence_classifier/2021.08.16.yaml
Due: check-yaml

updated results
  skills_taxonomy_v2/pipeline/sentence_classifier/sentence_classifier.md
Due: none

add annotate module
  requirements.txt
Due: none

updated reqs
  requirements.txt
Due: none

updated base yaml
  skills_taxonomy_v2/config/base.yaml
Due: check-yaml

24 improved classifier (#30)
  README.md
  inputs/new_training_data/final_training_data.pickle
  outputs/sentence_classifier/data/skill_sentences/2021.07.09.small_jobsnew1_embeddings.pkl
  outputs/sentence_classifier/data/skill_sentences/2021.07.09.small_jobsnew1_job_ids.pkl
  outputs/sentence_classifier/data/skill_sentences/2021.07.09.small_jobsnew1_predictions.pkl
  outputs/sentence_classifier/data/skill_sentences/2021.07.09.small_jobsnew1_sentences.pkl
  outputs/sentence_classifier/models/2021_07_09_small.pkl
  outputs/sentence_classifier/models/2021_07_09_small_results.txt
  outputs/sentence_classifier/models/2021_08_16.pkl
  outputs/sentence_classifier/models/2021_08_16_results.txt
  requirements.txt
  skills_taxonomy_v2/analysis/sentence_classifier/notebooks/improve_classifier.ipynb
  skills_taxonomy_v2/analysis/sentence_classifier/notebooks/improve_classifier.py
  skills_taxonomy_v2/analysis/sentence_classifier/notebooks/label_studio_training.json
  skills_taxonomy_v2/analysis/sentence_classifier/skills_classifier_2.0_experiments.md
  skills_taxonomy_v2/analysis/sentence_classifier/skills_codebook.md
  skills_taxonomy_v2/config/base.yaml
  skills_taxonomy_v2/config/predict_skill_sentences/2021.08.16.local.sample.yaml
  skills_taxonomy_v2/config/predict_skill_sentences/2021.08.16.yaml
  skills_taxonomy_v2/config/sentence_classifier/2021.08.16.yaml
  skills_taxonomy_v2/pipeline/sentence_classifier/create_training_data.py
  skills_taxonomy_v2/pipeline/sentence_classifier/predict_sentence_class.py
  skills_taxonomy_v2/pipeline/sentence_classifier/sentence_classifier.md
  skills_taxonomy_v2/pipeline/sentence_classifier/sentence_classifier.py
  skills_taxonomy_v2/pipeline/sentence_classifier/utils.py
Due: black, check-yaml

removed training_path
  skills_taxonomy_v2/pipeline/sentence_classifier/utils.py
Due: black

changed string
  skills_taxonomy_v2/pipeline/sentence_classifier/predict_sentence_class.py
Due: black

removed string
  skills_taxonomy_v2/pipeline/sentence_classifier/predict_sentence_class.py
Due: black
