Repository nestauk/skills-taxonomy-v2: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-toml, check-yaml

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        require_serial: true
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-merge-conflict
        name: Check for files with merge conflict strings
        entry: check-merge-conflict
        language: system
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      # - id: reorder-python-imports
      #   name: Reorder python imports
      #   entry: reorder-python-imports
      #   language: system
      #   types: [python]
      # - id: flake8
      #   name: flake8
      #   entry: flake8
      #   language: system
      #   types: [python]
      #   args: ["--config=.flake8"]
      #   require_serial: true
      - id: no-commit-to-branch
        name: Prevent commits to dev / master
        entry: no-commit-to-branch
        language: python
        args: ["-b", dev, "-b", master, "-b", main]
        pass_filenames: false
  - repo: https://github.com/prettier/pre-commit
    rev: v2.1.2
    hooks:
      - id: prettier

Rename transformer sentence embedding notebooks
  skills_taxonomy_v2/analysis/skills_extraction/notebooks/Transformers sentence embeddings approach - masked.py
  skills_taxonomy_v2/analysis/skills_extraction/notebooks/Transformers sentence embeddings approach - unmasked.py
Due: black

Add figures for experimentation notebooks explanation
  skills_taxonomy_v2/analysis/skills_extraction/figures/masked_sentence_embeddings_experiment.png
  skills_taxonomy_v2/analysis/skills_extraction/figures/unmasked_sentence_embeddings_experiment.png
  skills_taxonomy_v2/analysis/skills_extraction/figures/word2vec_embeddings_experiment.png
Due: none

Use init bucket name global variable
  skills_taxonomy_v2/pipeline/skills_extraction/get_word_embeddings.py
Due: black

Refctor notebook version of skills extraction into its own pipeline scripts
  skills_taxonomy_v2/pipeline/skills_extraction/extract_skills.py
  skills_taxonomy_v2/pipeline/skills_extraction/extract_skills_utils.py
Due: black

add config for skills extraction
  skills_taxonomy_v2/config/skills_extraction/2021.08.02.yaml
Due: check-yaml

added experiment notes
  skills_taxonomy_v2/analysis/sentence_classifier/skills_classifier_2.0_experiments.md
  skills_taxonomy_v2/analysis/sentence_classifier/skills_codebook.md
Due: none

added experiment notes
  skills_taxonomy_v2/analysis/sentence_classifier/skills_classifier_2.0_experiments.md
Due: none

updated skills experiments
  skills_taxonomy_v2/analysis/sentence_classifier/skills_classifier_2.0_experiments.md
Due: none

Add ability to read csv from s3, adding requirements for this
  requirements.txt
  skills_taxonomy_v2/getters/s3_data.py
Due: black

Add new config file with all steps parameters in
  requirements.txt
  skills_taxonomy_v2/config/skills_extraction/2021.08.02.yaml
  skills_taxonomy_v2/config/skills_extraction/word_embeddings/2021.07.21.yaml
Due: check-yaml

Modifications to extract skills - include n compoentns param for umap, and some fixes
  skills_taxonomy_v2/pipeline/skills_extraction/extract_skills.py
  skills_taxonomy_v2/pipeline/skills_extraction/extract_skills_utils.py
Due: black

use config file for whole pipeline in get word embeddings
  skills_taxonomy_v2/pipeline/skills_extraction/get_word_embeddings.py
Due: black

Add new script in extract skills pipeline that finds the esco to tk mappings
  skills_taxonomy_v2/pipeline/skills_extraction/esco_skills_mappings.py
Due: black

Add new doc to explain skills extraction pipeline
  skills_taxonomy_v2/pipeline/skills_extraction/Skills Extraction.md
Due: none

Rerunning experimental notebooks with new parameters
  skills_taxonomy_v2/analysis/skills_extraction/notebooks/Extract skills from clusters.py
  skills_taxonomy_v2/analysis/skills_extraction/notebooks/Merge with ESCO.py
  skills_taxonomy_v2/analysis/skills_extraction/notebooks/Transformers sentence embeddings approach - masked.py
Due: black

Change the name of get word embeddings to get sentence embeddings
  skills_taxonomy_v2/pipeline/skills_extraction/Skills Extraction.md
  skills_taxonomy_v2/pipeline/skills_extraction/get_sentence_embeddings.py
  skills_taxonomy_v2/pipeline/skills_extraction/get_sentence_embeddings_utils.py
Due: black

Neaten up and delete function not being used
  skills_taxonomy_v2/pipeline/skills_extraction/Skills Extraction.md
  skills_taxonomy_v2/pipeline/skills_extraction/get_sentence_embeddings.py
  skills_taxonomy_v2/pipeline/skills_extraction/get_sentence_embeddings_utils.py
Due: black

updated experiments to reflect new goal
  skills_taxonomy_v2/analysis/sentence_classifier/skills_classifier_2.0_experiments.md
Due: none

Update figures in experiment document
  skills_taxonomy_v2/analysis/skills_extraction/Skills Extraction Experiments.md
  skills_taxonomy_v2/analysis/skills_extraction/figures/masked_sentence_embeddings_experiment.png
  skills_taxonomy_v2/analysis/skills_extraction/figures/masked_sentence_embeddings_experiment_notclust.png
Due: none

updated experiments
  skills_taxonomy_v2/analysis/sentence_classifier/skills_classifier_2.0_experiments.md
Due: none

add new .pkl training data
  inputs/new_training_data/label_studio_training_data.pickle
  inputs/new_training_data/training_data.pickle
Due: none

added improve classifier notebook
  skills_taxonomy_v2/analysis/sentence_classifier/notebooks/improve_classifier.ipynb
Due: none

added improve_classifier.py
  skills_taxonomy_v2/analysis/sentence_classifier/notebooks/improve_classifier.py
Due: black

added how to install xgboost
  README.md
Due: none

added a few new modules
  requirements.txt
Due: none

slight change
  skills_taxonomy_v2/analysis/sentence_classifier/skills_classifier_2.0_experiments.md
Due: none

added raw label studio training data
  skills_taxonomy_v2/analysis/sentence_classifier/notebooks/label_studio_training.json
Due: none

updated notebook
  skills_taxonomy_v2/analysis/sentence_classifier/notebooks/improve_classifier.ipynb
Due: none

updated py
  skills_taxonomy_v2/analysis/sentence_classifier/notebooks/improve_classifier.py
Due: black

Add abilitiy to save out pickle of reducer and clustering objects, update parameters for skills extraction when its on 10k data points
  skills_taxonomy_v2/config/skills_extraction/2021.08.02.yaml
  skills_taxonomy_v2/getters/s3_data.py
  skills_taxonomy_v2/pipeline/skills_extraction/extract_skills.py
  skills_taxonomy_v2/pipeline/skills_extraction/extract_skills_utils.py
  skills_taxonomy_v2/pipeline/skills_extraction/get_sentence_embeddings.py
Due: black, check-yaml

Add latest results to document
  skills_taxonomy_v2/analysis/skills_extraction/notebooks/Skills Extraction Figures.py
  skills_taxonomy_v2/pipeline/skills_extraction/Skills Extraction.md
Due: black

adding updated training data
  inputs/new_training_data/label_studio_training_data.pickle
Due: none

adding updated training data
  inputs/new_training_data/training_data.pickle
Due: none
