Repository nestauk/skills-taxonomy-v2: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-toml, check-yaml

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        require_serial: true
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-merge-conflict
        name: Check for files with merge conflict strings
        entry: check-merge-conflict
        language: system
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      # - id: reorder-python-imports
      #   name: Reorder python imports
      #   entry: reorder-python-imports
      #   language: system
      #   types: [python]
      # - id: flake8
      #   name: flake8
      #   entry: flake8
      #   language: system
      #   types: [python]
      #   args: ["--config=.flake8"]
      #   require_serial: true
      - id: no-commit-to-branch
        name: Prevent commits to dev / master
        entry: no-commit-to-branch
        language: python
        args: ["-b", dev, "-b", master, "-b", main]
        pass_filenames: false
  - repo: https://github.com/prettier/pre-commit
    rev: v2.1.2
    hooks:
      - id: prettier

updated utils
  skills_taxonomy_v2/pipeline/sentence_classifier/utils.py
Due: black

updated md
  skills_taxonomy_v2/pipeline/sentence_classifier/sentence_classifier.md
Due: none

Start document for taxonomy experiments
  skills_taxonomy_v2/analysis/skills_taxonomy/Skills Taxonomy Experiments.md
Due: none

some little edits to extract skills - also save out the 5d reduced embeddings, add some more analysis to the skills extraction figures notebook
  skills_taxonomy_v2/analysis/skills_extraction/notebooks/Skills Extraction Figures.py
  skills_taxonomy_v2/pipeline/skills_extraction/extract_skills.py
Due: black

Add a few stop words to the custom stop word list
  skills_taxonomy_v2/utils/custom_stop_words.txt
Due: none

Add some information to sample sizes to readme
  skills_taxonomy_v2/analysis/skills_taxonomy/Skills Taxonomy Experiments.md
Due: none

Add document for pipeline of skills taxonomy
  skills_taxonomy_v2/pipeline/skills_taxonomy/Skills Taxonomy.md
Due: none

Skills extraction extras (#39)
  skills_taxonomy_v2/analysis/skills_extraction/notebooks/Skills Extraction Figures.py
  skills_taxonomy_v2/analysis/skills_taxonomy/Skills Taxonomy Experiments.md
  skills_taxonomy_v2/pipeline/skills_extraction/extract_skills.py
  skills_taxonomy_v2/pipeline/skills_taxonomy/Skills Taxonomy.md
  skills_taxonomy_v2/utils/custom_stop_words.txt
Due: black

added s3 requirements
  requirements.txt
Due: none

Downgrade scikitlearn needed for predict to work, use model name in output folder structure, and up sample size of files to predict on
  requirements.txt
  skills_taxonomy_v2/config/predict_skill_sentences/2021.08.16.yaml
  skills_taxonomy_v2/pipeline/sentence_classifier/predict_sentence_class.py
Due: black, check-yaml

minor changes
  skills_taxonomy_v2/pipeline/sentence_classifier/sentence_classifier.py
Due: black

minor changes
  skills_taxonomy_v2/pipeline/sentence_classifier/predict_sentence_class.py
Due: black

minor changes
  skills_taxonomy_v2/config/sentence_classifier/2021.08.16.yaml
Due: check-yaml

create training data w/ label studio
  skills_taxonomy_v2/pipeline/sentence_classifier/create_training_data.py
Due: black

minor changes
  skills_taxonomy_v2/pipeline/sentence_classifier/create_training_data.py
Due: black

Add some requirements and note to readme, get rid of unneccessary imports from s3_data.py
  README.md
  requirements.txt
  skills_taxonomy_v2/getters/s3_data.py
Due: black

Modify predict for batches
  skills_taxonomy_v2/pipeline/sentence_classifier/predict_sentence_class.py
  skills_taxonomy_v2/pipeline/sentence_classifier/utils.py
Due: black

add config name to sentence embeddings output and more information to logger
  skills_taxonomy_v2/pipeline/skills_extraction/get_sentence_embeddings.py
Due: black

Add new skills extarction config
  skills_taxonomy_v2/config/skills_extraction/2021.08.31.yaml
Due: check-yaml

Create script to process tk data for analysis
  skills_taxonomy_v2/pipeline/tk_data_analysis/get_bulk_metadata.py
Due: black

new config file for naming skills
  skills_taxonomy_v2/config/skills_extraction/2021.09.01.yaml
Due: check-yaml

updated requirements
  requirements.txt
Due: none

updated classifier
  skills_taxonomy_v2/pipeline/sentence_classifier/sentence_classifier.py
Due: black

updated skills extraction
  skills_taxonomy_v2/pipeline/skills_extraction/extract_skills.py
Due: black

updated skills utils
  skills_taxonomy_v2/pipeline/skills_extraction/extract_skills_utils.py
Due: black

remove sample line of code
  skills_taxonomy_v2/pipeline/skills_extraction/extract_skills.py
Due: black

Update extraxt skills to use sampling and use a class, save new outputs too
  skills_taxonomy_v2/config/skills_extraction/2021.08.31.yaml
  skills_taxonomy_v2/pipeline/skills_extraction/extract_skills.py
  skills_taxonomy_v2/pipeline/skills_extraction/extract_skills_utils.py
Due: black, check-yaml

Up sampling for clustering on, remove the naming of skills step from this script
  skills_taxonomy_v2/config/skills_extraction/2021.08.31.yaml
  skills_taxonomy_v2/pipeline/skills_extraction/extract_skills.py
  skills_taxonomy_v2/pipeline/skills_extraction/extract_skills_utils.py
Due: black, check-yaml

Compress reducer file output
  skills_taxonomy_v2/pipeline/skills_extraction/extract_skills_utils.py
Due: black

adjust reduction params
  skills_taxonomy_v2/config/skills_extraction/2021.08.31.yaml
Due: check-yaml

change clustering parameters and allowed for reducer class save not working
  skills_taxonomy_v2/config/skills_extraction/2021.08.31.yaml
  skills_taxonomy_v2/pipeline/skills_extraction/extract_skills_utils.py
Due: black, check-yaml

Use 50 random tk files and save out the embeddings dict for use when naming skills
  skills_taxonomy_v2/config/skills_extraction/2021.08.31.yaml
  skills_taxonomy_v2/pipeline/skills_extraction/extract_skills.py
Due: black, check-yaml

Remove naming skills functions from extract skills utils and only fit reducer class on 100k sentences
  skills_taxonomy_v2/pipeline/skills_extraction/extract_skills_utils.py
Due: black

New scripts to name skills, separated from extracting the skills
  skills_taxonomy_v2/pipeline/skills_extraction/skills_naming.py
  skills_taxonomy_v2/pipeline/skills_extraction/skills_naming_utils.py
Due: black

Add some prints to extract skills
  skills_taxonomy_v2/pipeline/skills_extraction/extract_skills.py
Due: black

Output large sentence embedding dict as a gzipped file
  skills_taxonomy_v2/getters/s3_data.py
  skills_taxonomy_v2/pipeline/skills_extraction/extract_skills.py
Due: black

encode json gz output
  skills_taxonomy_v2/getters/s3_data.py
Due: black

not string
  skills_taxonomy_v2/pipeline/skills_extraction/extract_skills.py
Due: black

Remove finding vocab length, go back to sample of 30, fix load bug, add itertools
  skills_taxonomy_v2/config/skills_extraction/2021.08.31.yaml
  skills_taxonomy_v2/getters/s3_data.py
  skills_taxonomy_v2/pipeline/skills_extraction/extract_skills.py
  skills_taxonomy_v2/pipeline/skills_extraction/skills_naming.py
  skills_taxonomy_v2/pipeline/skills_extraction/skills_naming_utils.py
Due: black, check-yaml
