Repository nestauk/skills-taxonomy-v2: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-toml, check-yaml

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

added merged skill cluster examples
  skills_taxonomy_v2/analysis/skills_extraction/Skill Naming Experiments.md
Due: none

updated code
  skills_taxonomy_v2/analysis/skills_extraction/notebooks/better_skills_naming.py
Due: black

delete unnecessary print statement
  skills_taxonomy_v2/analysis/skills_extraction/notebooks/better_skills_naming.py
Due: black

Add information about the data sampling and the new run of predict skill sentences to the relevant READMEs
  README.md
  skills_taxonomy_v2/pipeline/sentence_classifier/README.md
  skills_taxonomy_v2/pipeline/tk_data_analysis/README.md
Due: none

change batch size back to 32
  skills_taxonomy_v2/pipeline/sentence_classifier/predict_sentence_class.py
Due: black

Outputs plots of data sample proportion comparisons
  skills_taxonomy_v2/analysis/tk_analysis/TextKernel Sample - 25th Oct 2021.py
Due: black

Sample tk data (#73)
  README.md
  skills_taxonomy_v2/analysis/tk_analysis/TextKernel Sample - 25th Oct 2021.py
  skills_taxonomy_v2/config/predict_skill_sentences/2021.10.26.yaml
  skills_taxonomy_v2/config/predict_skill_sentences/2021.10.27.yaml
  skills_taxonomy_v2/config/tk_data_sample/2021.10.25.yaml
  skills_taxonomy_v2/pipeline/sentence_classifier/README.md
  skills_taxonomy_v2/pipeline/sentence_classifier/predict_sentence_class.py
  skills_taxonomy_v2/pipeline/sentence_classifier/sentence_classifier.py
  skills_taxonomy_v2/pipeline/sentence_classifier/utils.py
  skills_taxonomy_v2/pipeline/tk_data_analysis/README.md
  skills_taxonomy_v2/pipeline/tk_data_analysis/get_tk_sample.py
Due: black, check-yaml

Add a new config for the new skills extraction
  skills_taxonomy_v2/config/skills_extraction/2021.11.05.yaml
Due: check-yaml

Use better transformer model and make prints nicer
  skills_taxonomy_v2/pipeline/skills_extraction/get_sentence_embeddings.py
Due: black

downgraded numba to 0.53
  requirements.txt
Due: none

new config file for lower thresholds of skill naming
  skills_taxonomy_v2/config/skills_extraction/2021.11.09.yaml
Due: check-yaml

updated readme to reflect convo w/ Liz re: skills merging
  skills_taxonomy_v2/analysis/skills_extraction/Skill Naming Experiments.md
Due: none

modify to incl. duplicate renaming function
  skills_taxonomy_v2/pipeline/skills_extraction/skills_naming.py
Due: black

update ngram cleaning, rename duplicate ngrams, generate ngram PER cluster
  skills_taxonomy_v2/pipeline/skills_extraction/skills_naming_utils.py
Due: black

rename_duplicate_named_skills docstring update
  skills_taxonomy_v2/pipeline/skills_extraction/skills_naming_utils.py
Due: black

Add script to get a embedding sample
  skills_taxonomy_v2/pipeline/skills_extraction/data_reduction_param_exploration.py
Due: black

Use min in sample
  skills_taxonomy_v2/pipeline/skills_extraction/data_reduction_param_exploration.py
Due: black

filter by sentence length for sample too
  skills_taxonomy_v2/pipeline/skills_extraction/data_reduction_param_exploration.py
Due: black

Split up outputs
  skills_taxonomy_v2/pipeline/skills_extraction/data_reduction_param_exploration.py
Due: black

Add script to experiment with umap parameters
  skills_taxonomy_v2/pipeline/skills_extraction/data_reduction_param_exploration_2.py
Due: black

Just change nneighbours
  skills_taxonomy_v2/pipeline/skills_extraction/data_reduction_param_exploration_2.py
Due: black

Add script for redcuing embeddings
  skills_taxonomy_v2/config/skills_extraction/2021.11.05.yaml
  skills_taxonomy_v2/pipeline/skills_extraction/reduce_embeddings.py
Due: black, check-yaml

Fix indents
  skills_taxonomy_v2/pipeline/skills_extraction/reduce_embeddings.py
Due: black

Intermediately save out
  skills_taxonomy_v2/pipeline/skills_extraction/reduce_embeddings.py
Due: black

Output 300k sample embeds
  skills_taxonomy_v2/pipeline/skills_extraction/data_reduction_param_exploration.py
Due: black

Put script to get embeddings sample in analysis folder
  skills_taxonomy_v2/analysis/skills_extraction/get_embeddings_data_sample.py
Due: black

Add notebook to investigate embedding sample size for reducer
  skills_taxonomy_v2/analysis/skills_extraction/notebooks/Experiment - Data reduction sample size.py
Due: black

Add analysis of multiskill sentences
  skills_taxonomy_v2/analysis/skills_extraction/notebooks/Experiment - Data reduction sample size.py
  skills_taxonomy_v2/analysis/skills_extraction/notebooks/Multi-skill sentences.py
Due: black

Delete script to look at reduction params
  skills_taxonomy_v2/pipeline/skills_extraction/data_reduction_param_exploration_2.py
Due: black

Add notebook to find good clustering parameters
  skills_taxonomy_v2/analysis/skills_extraction/notebooks/Experiment - Clustering parameters.py
Due: black

Analysis cluster dist threshold notebook
  skills_taxonomy_v2/analysis/skills_extraction/notebooks/Effect of merging clusters distance threshold.py
  skills_taxonomy_v2/analysis/skills_extraction/notebooks/Experiment - Clustering parameters.py
Due: black

Add new method for extracting skills from reduced embeddings
  skills_taxonomy_v2/config/skills_extraction/2021.11.05.yaml
  skills_taxonomy_v2/pipeline/skills_extraction/cluster_embeddings.py
Due: black, check-yaml

Neaten up reduce embeddings.py
  skills_taxonomy_v2/pipeline/skills_extraction/reduce_embeddings.py
Due: black

Add notebooks to analyse merging cluste thresh and extracted skills
  skills_taxonomy_v2/analysis/skills_extraction/notebooks/Effect of merging clusters distance threshold.py
  skills_taxonomy_v2/analysis/skills_extraction/notebooks/Extracted skills - 2021.11.05.py
Due: black

Update REAME with latest extract skill info
  skills_taxonomy_v2/pipeline/skills_extraction/README.md
Due: none

Rerunning skills extraction (#75)
  skills_taxonomy_v2/analysis/skills_extraction/get_embeddings_data_sample.py
  skills_taxonomy_v2/analysis/skills_extraction/notebooks/Effect of merging clusters distance threshold.py
  skills_taxonomy_v2/analysis/skills_extraction/notebooks/Experiment - Clustering parameters.py
  skills_taxonomy_v2/analysis/skills_extraction/notebooks/Experiment - Data reduction sample size.py
  skills_taxonomy_v2/analysis/skills_extraction/notebooks/Extracted skills - 2021.11.05.py
  skills_taxonomy_v2/analysis/skills_extraction/notebooks/Multi-skill sentences.py
  skills_taxonomy_v2/config/skills_extraction/2021.11.05.yaml
  skills_taxonomy_v2/pipeline/skills_extraction/README.md
  skills_taxonomy_v2/pipeline/skills_extraction/cluster_embeddings.py
  skills_taxonomy_v2/pipeline/skills_extraction/get_sentence_embeddings.py
  skills_taxonomy_v2/pipeline/skills_extraction/reduce_embeddings.py
Due: black, check-yaml

modified script to reflect new skills pipeline
  skills_taxonomy_v2/pipeline/skills_extraction/skills_naming.py
Due: black

updated utils to reflect new skills data
  skills_taxonomy_v2/pipeline/skills_extraction/skills_naming_utils.py
Due: black

new config file for new data paths
  skills_taxonomy_v2/config/skills_extraction/2021.12.07.yaml
Due: check-yaml

remove .sample
  skills_taxonomy_v2/pipeline/skills_extraction/skills_naming.py
Due: black

Path conditions:
  black: any of: \.py$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
