Repository nestauk/skills-taxonomy-v2: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-toml, check-yaml

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        require_serial: true
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-merge-conflict
        name: Check for files with merge conflict strings
        entry: check-merge-conflict
        language: system
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      # - id: reorder-python-imports
      #   name: Reorder python imports
      #   entry: reorder-python-imports
      #   language: system
      #   types: [python]
      # - id: flake8
      #   name: flake8
      #   entry: flake8
      #   language: system
      #   types: [python]
      #   args: ["--config=.flake8"]
      #   require_serial: true
      - id: no-commit-to-branch
        name: Prevent commits to dev / master
        entry: no-commit-to-branch
        language: python
        args: ["-b", dev, "-b", master, "-b", main]
        pass_filenames: false
  - repo: https://github.com/prettier/pre-commit
    rev: v2.1.2
    hooks:
      - id: prettier

Setup Nesta Data Science cookiecutter (#2)
  .env.shared
  .github/pull_request_template.md
  .gitignore
  .pre-commit-config.yaml
  LICENSE
  Makefile
  README.md
  bin/conda_activate.sh
  bin/create_bucket.sh
  bin/create_repo.sh
  bin/install_metaflow_aws.sh
  docs/conf.py
  docs/index.rst
  docs/license.rst
  environment.yaml
  inputs/README.md
  jupytext.toml
  requirements.txt
  requirements_dev.txt
  setup.cfg
  setup.py
  skills_taxonomy_v2/__init__.py
  skills_taxonomy_v2/analysis/README.md
  skills_taxonomy_v2/config/base.yaml
  skills_taxonomy_v2/config/logging.yaml
  skills_taxonomy_v2/getters/__init__.py
  skills_taxonomy_v2/pipeline/__init__.py
  skills_taxonomy_v2/utils/.gitkeep
  skills_taxonomy_v2/utils/__init__.py
Due: black, check-toml, check-yaml

initial exploration
  skills_taxonomy_v2/analysis/data_exploration/notebooks/textkernel_initial_exploration.py
Due: black

Update readme, makefile and requirements for this project
  Makefile
  README.md
  inputs/README.md
  requirements.txt
Due: none

Add analysis notebooks for sentence splitter experiments, and markdown with results of experimentation
  skills_taxonomy_v2/analysis/sentence_classifier/Sentence Splitter Experiments.md
  skills_taxonomy_v2/analysis/sentence_classifier/notebooks/Doccano Baseline Classifier.py
  skills_taxonomy_v2/analysis/sentence_classifier/notebooks/Sentence Classifier.py
  skills_taxonomy_v2/analysis/sentence_classifier/notebooks/TextKernel Automated Training Data.py
Due: black

Notebook to look at extracted esco skills sample
  skills_taxonomy_v2/analysis/esco_skills/notebooks/Look at extracted ESCO skills sample.py
Due: black

Notebook to look at extracted esco skills sample (#16)
  skills_taxonomy_v2/analysis/esco_skills/notebooks/Look at extracted ESCO skills sample.py
Due: black

Fix make cookiecutter bug
  Makefile
Due: none

Add some extra info to sentence classifier notebook
  skills_taxonomy_v2/analysis/sentence_classifier/Sentence Splitter Experiments.md
Due: none

Two notebooks to create training data and train a NER classifier from ner training data
  skills_taxonomy_v2/analysis/esco_skills/notebooks/Create NER training data.py
  skills_taxonomy_v2/analysis/esco_skills/notebooks/Train NER.py
Due: black

04 sentence classifier experimentation (#12)
  Makefile
  README.md
  inputs/README.md
  requirements.txt
  skills_taxonomy_v2/analysis/esco_skills/notebooks/Create NER training data.py
  skills_taxonomy_v2/analysis/esco_skills/notebooks/Train NER.py
  skills_taxonomy_v2/analysis/sentence_classifier/Sentence Splitter Experiments.md
  skills_taxonomy_v2/analysis/sentence_classifier/notebooks/Doccano Baseline Classifier.py
  skills_taxonomy_v2/analysis/sentence_classifier/notebooks/Sentence Classifier.py
  skills_taxonomy_v2/analysis/sentence_classifier/notebooks/TextKernel Automated Training Data.py
Due: black

Add details of stochasticity experiments to readme
  skills_taxonomy_v2/analysis/sentence_classifier/Sentence Splitter Experiments.md
  skills_taxonomy_v2/pipeline/sentence_classifier/Sentence Classifier.md
Due: none

Add sentence classifier config and script
  skills_taxonomy_v2/config/sentence_classifier/2021.07.06.yaml
  skills_taxonomy_v2/pipeline/sentence_classifier/sentence_classifier.py
Due: black, check-yaml

script and test to create training data
  skills_taxonomy_v2/pipeline/sentence_classifier/create_training_data.py
  skills_taxonomy_v2/pipeline/tests/test_create_training_data.py
Due: black

Add config instead of hardcoded config file name
  skills_taxonomy_v2/pipeline/sentence_classifier/sentence_classifier.py
Due: black

Apply black to scripts
  skills_taxonomy_v2/pipeline/sentence_classifier/create_training_data.py
  skills_taxonomy_v2/pipeline/sentence_classifier/sentence_classifier.py
  skills_taxonomy_v2/pipeline/tests/test_create_training_data.py
Due: black

Refactor skills classifier (#20)
  skills_taxonomy_v2/analysis/sentence_classifier/Sentence Splitter Experiments.md
  skills_taxonomy_v2/config/sentence_classifier/2021.07.06.yaml
  skills_taxonomy_v2/pipeline/sentence_classifier/Sentence Classifier.md
  skills_taxonomy_v2/pipeline/sentence_classifier/create_training_data.py
  skills_taxonomy_v2/pipeline/sentence_classifier/sentence_classifier.py
  skills_taxonomy_v2/pipeline/tests/test_create_training_data.py
Due: black, check-yaml

add community detection requirements
  environment.yaml
  requirements.txt
Due: check-yaml

Add more cleaning of text
  skills_taxonomy_v2/analysis/skill_communities/notebooks/Mess about with communities.py
Due: black

Add notebook for initial play with community detection
  skills_taxonomy_v2/analysis/skill_communities/notebooks/Mess about with communities.py
Due: black

Better sentence cleaning for classifier
  skills_taxonomy_v2/pipeline/sentence_classifier/create_training_data.py
Due: black

New sentence classifier using sentence embeddings library, configs for this too
  skills_taxonomy_v2/config/sentence_classifier/2021.07.09.large.yaml
  skills_taxonomy_v2/config/sentence_classifier/2021.07.09.small.yaml
  skills_taxonomy_v2/pipeline/sentence_classifier/sentence_classifier.py
Due: black, check-yaml

Script to predict sentences being skills or not
  skills_taxonomy_v2/pipeline/sentence_classifier/predict_sentence_class.py
Due: black

Add more information about the changes to the sentence classifier doc
  skills_taxonomy_v2/pipeline/sentence_classifier/Sentence Classifier.md
Due: none

Add more requirements, and info about environment
  README.md
  environment.yaml
  requirements.txt
Due: check-yaml

Remove notebook to try out community detection
  skills_taxonomy_v2/analysis/skill_communities/notebooks/Mess about with communities.py
Due: black

Add notebook for network approach to skills extraction
  skills_taxonomy_v2/analysis/skills_extraction/notebooks/Network approach.py
Due: black

Script for cleaning text for skills extraction
  skills_taxonomy_v2/pipeline/skills_extraction/cleaning_sentences.py
Due: black

Black formatting
  skills_taxonomy_v2/pipeline/skills_extraction/cleaning_sentences.py
Due: black

Initial community detection (#18)
  README.md
  environment.yaml
  requirements.txt
  skills_taxonomy_v2/analysis/skills_extraction/notebooks/Network approach.py
  skills_taxonomy_v2/config/sentence_classifier/2021.07.09.large.yaml
  skills_taxonomy_v2/config/sentence_classifier/2021.07.09.small.yaml
  skills_taxonomy_v2/pipeline/sentence_classifier/Sentence Classifier.md
  skills_taxonomy_v2/pipeline/sentence_classifier/create_training_data.py
  skills_taxonomy_v2/pipeline/sentence_classifier/predict_sentence_class.py
  skills_taxonomy_v2/pipeline/sentence_classifier/sentence_classifier.py
  skills_taxonomy_v2/pipeline/skills_extraction/cleaning_sentences.py
Due: black, check-yaml

Add notebooks to find skills via sentence embeddings and word2vec embeddings
  skills_taxonomy_v2/analysis/skills_extraction/notebooks/Transformers sentence embeddings approach.py
  skills_taxonomy_v2/analysis/skills_extraction/notebooks/Word2vec approach.py
Due: black

Start write up of experimentation with different approaches to skills extraction
  skills_taxonomy_v2/analysis/skills_extraction/Skills Extraction Experiments.md
Due: none

Start script to get spacy transformers embeddings from sentences
  skills_taxonomy_v2/pipeline/skills_extraction/get_word_embeddings.py
Due: black

Add deatils of using spacy transformers on ec2
  README.md
Due: none

Get word embeddings using spacy
  skills_taxonomy_v2/pipeline/skills_extraction/get_word_embeddings.py
Due: black

fix output file name and add tqdm
  skills_taxonomy_v2/pipeline/skills_extraction/get_word_embeddings.py
Due: black

Apply black to skill embeddings
  skills_taxonomy_v2/pipeline/skills_extraction/get_word_embeddings.py
Due: black

fix two bugs
  skills_taxonomy_v2/pipeline/skills_extraction/cleaning_sentences.py
  skills_taxonomy_v2/pipeline/skills_extraction/get_word_embeddings.py
Due: black

Add EC2 instructions to readme
  README.md
Due: none

Use correct indices to link between spacy doc tokens and trf_data
  skills_taxonomy_v2/pipeline/skills_extraction/get_word_embeddings.py
Due: black

Add more pos tokens not to be included
  skills_taxonomy_v2/pipeline/skills_extraction/get_word_embeddings.py
Due: black
