Repository nestauk/skills-taxonomy-v2: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-toml, check-yaml

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

Fix bugs in dependencies for skill naming
  skills_taxonomy_v2/pipeline/skills_extraction/skills_naming.py
  skills_taxonomy_v2/pipeline/skills_extraction/skills_naming_utils.py
Due: black

Some bug fixing in skill naming scripts
  skills_taxonomy_v2/pipeline/skills_extraction/skills_naming.py
  skills_taxonomy_v2/pipeline/skills_extraction/skills_naming_utils.py
Due: black

Update markdown files with new figures and method changes
  skills_taxonomy_v2/pipeline/sentence_classifier/sentence_classifier.md
  skills_taxonomy_v2/pipeline/skills_extraction/Skills Extraction.md
Due: none

Update number of skills in markdown
  skills_taxonomy_v2/pipeline/skills_extraction/Skills Extraction.md
Due: none

Rerun pipeline with new sentence classifier (#56)
  README.md
  requirements.txt
  skills_taxonomy_v2/config/predict_skill_sentences/2021.08.16.yaml
  skills_taxonomy_v2/config/skills_extraction/2021.08.31.yaml
  skills_taxonomy_v2/getters/s3_data.py
  skills_taxonomy_v2/pipeline/sentence_classifier/predict_sentence_class.py
  skills_taxonomy_v2/pipeline/sentence_classifier/sentence_classifier.md
  skills_taxonomy_v2/pipeline/sentence_classifier/utils.py
  skills_taxonomy_v2/pipeline/skills_extraction/Skills Extraction.md
  skills_taxonomy_v2/pipeline/skills_extraction/extract_skills.py
  skills_taxonomy_v2/pipeline/skills_extraction/extract_skills_utils.py
  skills_taxonomy_v2/pipeline/skills_extraction/get_sentence_embeddings.py
  skills_taxonomy_v2/pipeline/skills_extraction/skills_naming.py
  skills_taxonomy_v2/pipeline/skills_extraction/skills_naming_utils.py
  skills_taxonomy_v2/pipeline/tk_data_analysis/get_bulk_metadata.py
Due: black, check-yaml

Add scripts for building the taxonomy
  skills_taxonomy_v2/config/skills_taxonomy/2021.09.06.yaml
  skills_taxonomy_v2/pipeline/skills_taxonomy/Skills Taxonomy.md
  skills_taxonomy_v2/pipeline/skills_taxonomy/build_taxonomy.py
  skills_taxonomy_v2/pipeline/skills_taxonomy/build_taxonomy_utils.py
Due: black, check-yaml

Add location data to saving out metadata from tk files
  skills_taxonomy_v2/pipeline/tk_data_analysis/get_bulk_metadata.py
Due: black

Save out metadata every 100 tk files
  skills_taxonomy_v2/pipeline/tk_data_analysis/get_bulk_metadata.py
Due: black

put metadata files in folders
  skills_taxonomy_v2/pipeline/tk_data_analysis/get_bulk_metadata.py
Due: black

fix tabs
  skills_taxonomy_v2/pipeline/tk_data_analysis/get_bulk_metadata.py
Due: black

Save out less metadata info and more regularly since files are really large
  skills_taxonomy_v2/pipeline/tk_data_analysis/get_bulk_metadata.py
Due: black

fix some getting of bulk metadata
  skills_taxonomy_v2/pipeline/tk_data_analysis/get_bulk_metadata.py
Due: black

Build taxonomy (#58)
  skills_taxonomy_v2/config/skills_taxonomy/2021.09.06.yaml
  skills_taxonomy_v2/pipeline/skills_taxonomy/Skills Taxonomy.md
  skills_taxonomy_v2/pipeline/skills_taxonomy/build_taxonomy.py
  skills_taxonomy_v2/pipeline/skills_taxonomy/build_taxonomy_utils.py
  skills_taxonomy_v2/pipeline/tk_data_analysis/get_bulk_metadata.py
Due: black, check-yaml

added locations to nuts script
  requirements.txt
  skills_taxonomy_v2/analysis/skills_taxonomy_application/locations_to_nuts2.py
  skills_taxonomy_v2/config/skills_taxonomy_application/2021.09.14.yaml
Due: black, check-yaml

updated to include jobs with some location info, nuts1 instead
  skills_taxonomy_v2/analysis/skills_taxonomy_application/locations_to_nuts2.py
Due: black

updated config for nuts1 instead
  skills_taxonomy_v2/config/skills_taxonomy_application/2021.09.14.yaml
Due: check-yaml

Change level a n to 6 and some fixes to build taxonomy
  skills_taxonomy_v2/config/skills_taxonomy/2021.09.06.yaml
  skills_taxonomy_v2/pipeline/skills_taxonomy/build_taxonomy.py
  skills_taxonomy_v2/pipeline/skills_taxonomy/build_taxonomy_utils.py
Due: black, check-yaml

Add script to filter the textkernel metadata
  skills_taxonomy_v2/pipeline/tk_data_analysis/filter_bulk_data.py
Due: black

efficiency increase to filter_bulk_data.py
  skills_taxonomy_v2/pipeline/tk_data_analysis/filter_bulk_data.py
Due: black

Taxonomy modifications (#61)
  skills_taxonomy_v2/config/skills_taxonomy/2021.09.06.yaml
  skills_taxonomy_v2/pipeline/skills_taxonomy/build_taxonomy.py
  skills_taxonomy_v2/pipeline/skills_taxonomy/build_taxonomy_utils.py
  skills_taxonomy_v2/pipeline/tk_data_analysis/filter_bulk_data.py
Due: black, check-yaml

59 nuts (#60)
  requirements.txt
  skills_taxonomy_v2/analysis/skills_taxonomy_application/locations_to_nuts2.py
  skills_taxonomy_v2/config/skills_taxonomy_application/2021.09.14.yaml
Due: black, check-yaml

Rename and delete notebooks in skills extraction analysis
  skills_taxonomy_v2/analysis/skills_extraction/notebooks/Effect of sample size.py
  skills_taxonomy_v2/analysis/skills_extraction/notebooks/Experiment - Network approach.py
  skills_taxonomy_v2/analysis/skills_extraction/notebooks/Experiment - Transformers sentence embeddings approach - masked.py
  skills_taxonomy_v2/analysis/skills_extraction/notebooks/Experiment - Transformers sentence embeddings approach - unmasked.py
  skills_taxonomy_v2/analysis/skills_extraction/notebooks/Experiment - Word2vec approach.py
  skills_taxonomy_v2/analysis/skills_extraction/notebooks/Extract skills from clusters.py
  skills_taxonomy_v2/analysis/skills_extraction/notebooks/Job advert skills comparison.py
  skills_taxonomy_v2/analysis/skills_extraction/notebooks/Merge with ESCO.py
  skills_taxonomy_v2/analysis/skills_extraction/notebooks/Skills Extraction Analysis and Figures.py
  skills_taxonomy_v2/analysis/skills_extraction/notebooks/Skills Extraction Figures.py
Due: black

Update analysis folder readme
  skills_taxonomy_v2/analysis/README.md
  skills_taxonomy_v2/analysis/skills_extraction/Skills Extraction Experiments.md
Due: none

Add skills taxonomy notebooks
  skills_taxonomy_v2/analysis/skills_taxonomy/notebooks/Evaluate hierarchy.py
  skills_taxonomy_v2/analysis/skills_taxonomy/notebooks/Renaming sample of skill groups.py
  skills_taxonomy_v2/analysis/skills_taxonomy/notebooks/Skills Taxonomy Analysis and Figures.py
  skills_taxonomy_v2/analysis/skills_taxonomy/notebooks/Tranversal Skills.py
Due: black

Add description of skills taxonomy analysis folder to reamde
  skills_taxonomy_v2/analysis/README.md
Due: none

Add taxonomy application notebooks and update readme
  skills_taxonomy_v2/analysis/README.md
  skills_taxonomy_v2/analysis/skills_taxonomy_application/Application - COVID.py
  skills_taxonomy_v2/analysis/skills_taxonomy_application/Application - Geography.py
Due: black

Add textkernel sample analysis notebooks
  skills_taxonomy_v2/analysis/README.md
  skills_taxonomy_v2/analysis/tk_analysis/TextKernel Data Sample for Skills.py
  skills_taxonomy_v2/analysis/tk_analysis/TextKernel Data.py
Due: black

delete esco skills analysis
  skills_taxonomy_v2/analysis/esco_skills/notebooks/Create NER training data.py
  skills_taxonomy_v2/analysis/esco_skills/notebooks/Look at extracted ESCO skills sample.py
  skills_taxonomy_v2/analysis/esco_skills/notebooks/Train NER.py
Due: black

adding to analysis readme
  skills_taxonomy_v2/analysis/README.md
Due: none

correct output location for tk analysis
  skills_taxonomy_v2/analysis/tk_analysis/TextKernel Data Sample for Skills.py
Due: black

Neaten analysis folder notebooks (#62)
  skills_taxonomy_v2/analysis/README.md
  skills_taxonomy_v2/analysis/esco_skills/notebooks/Create NER training data.py
  skills_taxonomy_v2/analysis/esco_skills/notebooks/Look at extracted ESCO skills sample.py
  skills_taxonomy_v2/analysis/esco_skills/notebooks/Train NER.py
  skills_taxonomy_v2/analysis/skills_extraction/Skills Extraction Experiments.md
  skills_taxonomy_v2/analysis/skills_extraction/notebooks/Effect of sample size.py
  skills_taxonomy_v2/analysis/skills_extraction/notebooks/Experiment - Network approach.py
  skills_taxonomy_v2/analysis/skills_extraction/notebooks/Experiment - Transformers sentence embeddings approach - masked.py
  skills_taxonomy_v2/analysis/skills_extraction/notebooks/Experiment - Transformers sentence embeddings approach - unmasked.py
  skills_taxonomy_v2/analysis/skills_extraction/notebooks/Experiment - Word2vec approach.py
  skills_taxonomy_v2/analysis/skills_extraction/notebooks/Extract skills from clusters.py
  skills_taxonomy_v2/analysis/skills_extraction/notebooks/Job advert skills comparison.py
  skills_taxonomy_v2/analysis/skills_extraction/notebooks/Merge with ESCO.py
  skills_taxonomy_v2/analysis/skills_extraction/notebooks/Skills Extraction Analysis and Figures.py
  skills_taxonomy_v2/analysis/skills_extraction/notebooks/Skills Extraction Figures.py
  skills_taxonomy_v2/analysis/skills_taxonomy/notebooks/Evaluate hierarchy.py
  skills_taxonomy_v2/analysis/skills_taxonomy/notebooks/Renaming sample of skill groups.py
  skills_taxonomy_v2/analysis/skills_taxonomy/notebooks/Skills Taxonomy Analysis and Figures.py
  skills_taxonomy_v2/analysis/skills_taxonomy/notebooks/Tranversal Skills.py
  skills_taxonomy_v2/analysis/skills_taxonomy_application/Application - COVID.py
  skills_taxonomy_v2/analysis/skills_taxonomy_application/Application - Geography.py
  skills_taxonomy_v2/analysis/tk_analysis/TextKernel Data Sample for Skills.py
  skills_taxonomy_v2/analysis/tk_analysis/TextKernel Data.py
Due: black

Add interactive skills hierachy notebook and json files for renaming some skill groups in utils
  skills_taxonomy_v2/analysis/README.md
  skills_taxonomy_v2/analysis/skills_taxonomy/notebooks/Plot interactive hierarchy.py
  skills_taxonomy_v2/utils/2021.09.06_level_a_rename_dict.json
  skills_taxonomy_v2/utils/2021.09.06_level_b_rename_dict.json
  skills_taxonomy_v2/utils/2021.09.06_level_c_rename_dict.json
Due: black

Add plot for number of job adversta dn unique number of skills
  skills_taxonomy_v2/analysis/skills_extraction/notebooks/Effect of sample size.py
Due: black

Look at other regions in the region to rest of uk level B comparisons
  skills_taxonomy_v2/analysis/skills_taxonomy_application/Application - Geography.py
Due: black

updated readme
  README.md
Due: none

Update README.md
  README.md
Due: none

added skills classifier to analysis readme
  inputs/new_training_data/final_training_data.pickle
  skills_taxonomy_v2/analysis/README.md
Due: none

added skills classifier readme
  skills_taxonomy_v2/analysis/README.md
Due: none

deleted data, models in repo
  outputs/sentence_classifier/data/skill_sentences/2021.07.09.small_jobsnew1_embeddings.pkl
  outputs/sentence_classifier/data/skill_sentences/2021.07.09.small_jobsnew1_job_ids.pkl
  outputs/sentence_classifier/data/skill_sentences/2021.07.09.small_jobsnew1_predictions.pkl
  outputs/sentence_classifier/data/skill_sentences/2021.07.09.small_jobsnew1_sentences.pkl
  outputs/sentence_classifier/models/2021_07_09_small.pkl
  outputs/sentence_classifier/models/2021_07_09_small_results.txt
  outputs/sentence_classifier/models/2021_08_16.pkl
  outputs/sentence_classifier/models/2021_08_16_results.txt
  skills_taxonomy_v2/analysis/sentence_classifier/notebooks/label_studio_training.json
Due: none

rename scripts for clarity
  skills_taxonomy_v2/analysis/sentence_classifier/notebooks/Analyse sentence predictions.py
  skills_taxonomy_v2/analysis/sentence_classifier/notebooks/Doccano Baseline Classifier.py
  skills_taxonomy_v2/analysis/sentence_classifier/notebooks/TextKernel Automated Training Data.py
Due: black

Path conditions:
  black: any of: \.py$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
