Repository nestauk/skills-taxonomy-v2: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-toml, check-yaml

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        require_serial: true
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-merge-conflict
        name: Check for files with merge conflict strings
        entry: check-merge-conflict
        language: system
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      # - id: reorder-python-imports
      #   name: Reorder python imports
      #   entry: reorder-python-imports
      #   language: system
      #   types: [python]
      # - id: flake8
      #   name: flake8
      #   entry: flake8
      #   language: system
      #   types: [python]
      #   args: ["--config=.flake8"]
      #   require_serial: true
      - id: no-commit-to-branch
        name: Prevent commits to dev / master
        entry: no-commit-to-branch
        language: python
        args: ["-b", dev, "-b", master, "-b", main]
        pass_filenames: false
  - repo: https://github.com/prettier/pre-commit
    rev: v2.1.2
    hooks:
      - id: prettier

Extract skills via word embeddings (#23)
  README.md
  skills_taxonomy_v2/analysis/skills_extraction/Skills Extraction Experiments.md
  skills_taxonomy_v2/analysis/skills_extraction/notebooks/Transformers sentence embeddings approach.py
  skills_taxonomy_v2/analysis/skills_extraction/notebooks/Word2vec approach.py
  skills_taxonomy_v2/pipeline/skills_extraction/cleaning_sentences.py
  skills_taxonomy_v2/pipeline/skills_extraction/get_word_embeddings.py
Due: black

Output to s3 option
  skills_taxonomy_v2/pipeline/sentence_classifier/predict_sentence_class.py
Due: black

Add config files for predicting skills sentences, and use argument for this
  skills_taxonomy_v2/config/predict_skill_sentences/2021.07.19.local.sample.yaml
  skills_taxonomy_v2/config/predict_skill_sentences/2021.07.19.yaml
  skills_taxonomy_v2/pipeline/sentence_classifier/predict_sentence_class.py
Due: black, check-yaml

Update explaination of predict skill sentences
  skills_taxonomy_v2/pipeline/sentence_classifier/Sentence Classifier.md
Due: none

remove sampling
  skills_taxonomy_v2/pipeline/sentence_classifier/predict_sentence_class.py
Due: black

Modify predict sentence class to predict many job adverts from s3"
  skills_taxonomy_v2/pipeline/sentence_classifier/predict_sentence_class.py
Due: black

refactor predict_sentence_class.py to include pooling and random sampling of job advert data paths etc
  skills_taxonomy_v2/pipeline/sentence_classifier/predict_sentence_class.py
Due: black

Add random sampling parameters to configs
  skills_taxonomy_v2/config/predict_skill_sentences/2021.07.19.local.sample.yaml
  skills_taxonomy_v2/config/predict_skill_sentences/2021.07.19.yaml
Due: check-yaml

Add sentence splitter function to utils for use with multiprocessing
  skills_taxonomy_v2/pipeline/sentence_classifier/utils.py
Due: black

Add more info to document
  skills_taxonomy_v2/pipeline/sentence_classifier/Sentence Classifier.md
Due: none

Allow for situation where there is no output to split_sentence
  skills_taxonomy_v2/pipeline/sentence_classifier/predict_sentence_class.py
Due: black

Fix edge case of no sentences being found, and apply Black
  skills_taxonomy_v2/pipeline/sentence_classifier/predict_sentence_class.py
Due: black

added skills codebook
  skills_taxonomy_v2/analysis/sentence_classifier/skills_codebook.md
Due: none

Improve method by which data is combined in predicted sentence class
  skills_taxonomy_v2/pipeline/sentence_classifier/predict_sentence_class.py
  skills_taxonomy_v2/pipeline/sentence_classifier/utils.py
Due: black

Notebook to analysis results of 10 random textkernel sentence predictions
  skills_taxonomy_v2/analysis/sentence_classifier/notebooks/Analyse sentence predictions.py
Due: black

Add pattern as asrgument to loading data rather than hardcoded
  skills_taxonomy_v2/pipeline/sentence_classifier/predict_sentence_class.py
Due: black

Add details of skill sentences found to document
  skills_taxonomy_v2/pipeline/sentence_classifier/Sentence Classifier.md
Due: none

Add the outputs folder to repo
  outputs/.gitkeep
Due: none

Use project_dir from init for local input and output paths
  skills_taxonomy_v2/__init__.py
  skills_taxonomy_v2/pipeline/sentence_classifier/predict_sentence_class.py
Due: black

Scale up predicting skill sentences (#26)
  outputs/.gitkeep
  skills_taxonomy_v2/__init__.py
  skills_taxonomy_v2/analysis/sentence_classifier/notebooks/Analyse sentence predictions.py
  skills_taxonomy_v2/config/predict_skill_sentences/2021.07.19.local.sample.yaml
  skills_taxonomy_v2/config/predict_skill_sentences/2021.07.19.yaml
  skills_taxonomy_v2/pipeline/sentence_classifier/Sentence Classifier.md
  skills_taxonomy_v2/pipeline/sentence_classifier/predict_sentence_class.py
  skills_taxonomy_v2/pipeline/sentence_classifier/utils.py
Due: black, check-yaml

Add a S3 data getter
  skills_taxonomy_v2/getters/s3_data.py
Due: black

Add function to deal with situation for output being too large for S3
  skills_taxonomy_v2/pipeline/skills_extraction/get_word_embeddings.py
Due: black

Remove pool as it interferes with pytorch memory
  skills_taxonomy_v2/pipeline/skills_extraction/get_word_embeddings.py
  skills_taxonomy_v2/pipeline/skills_extraction/get_word_embeddings_utils.py
Due: black

Fix some bugs in the sentence processing
  skills_taxonomy_v2/pipeline/skills_extraction/get_word_embeddings.py
  skills_taxonomy_v2/pipeline/skills_extraction/get_word_embeddings_utils.py
Due: black

Only process a sample make sure to lower case text before checking if its in a stop word
  skills_taxonomy_v2/pipeline/skills_extraction/get_word_embeddings.py
  skills_taxonomy_v2/pipeline/skills_extraction/get_word_embeddings_utils.py
Due: black

delete mistake
  skills_taxonomy_v2/pipeline/skills_extraction/get_word_embeddings_utils.py
Due: black

Add some nuances to getting the word embeddings - remove duplicates, only include if in vocab
  skills_taxonomy_v2/pipeline/skills_extraction/get_word_embeddings_utils.py
Due: black

Turn np array to list before saving out
  skills_taxonomy_v2/pipeline/skills_extraction/get_word_embeddings.py
Due: black

Add numpy
  skills_taxonomy_v2/pipeline/skills_extraction/get_word_embeddings.py
Due: black

Notebook to extract skills using clustering transformers approach
  skills_taxonomy_v2/analysis/skills_extraction/notebooks/Tranformers word embeddings approach.py
Due: black

First pass of refactoring getting word embeddings for skills extraction
  skills_taxonomy_v2/getters/s3_data.py
  skills_taxonomy_v2/pipeline/skills_extraction/get_word_embeddings.py
Due: black

Remove certain words and output average embedding, not all
  skills_taxonomy_v2/pipeline/skills_extraction/get_word_embeddings.py
  skills_taxonomy_v2/pipeline/skills_extraction/get_word_embeddings_utils.py
Due: black

Fix output of word embeddings to be list of tuples
  skills_taxonomy_v2/pipeline/skills_extraction/get_word_embeddings.py
Due: black

Use pooling to process sentences
  skills_taxonomy_v2/pipeline/skills_extraction/get_word_embeddings.py
  skills_taxonomy_v2/pipeline/skills_extraction/get_word_embeddings_utils.py
Due: black

New approach to mask out stop words, then calculate sentence embeddings using sentence_transformers library
  skills_taxonomy_v2/pipeline/skills_extraction/get_word_embeddings.py
  skills_taxonomy_v2/pipeline/skills_extraction/get_word_embeddings_utils.py
Due: black

Separate out experimental notebooks for skills extraction via word embedding clustering
  skills_taxonomy_v2/analysis/skills_extraction/notebooks/Extract skills from clusters.py
  skills_taxonomy_v2/analysis/skills_extraction/notebooks/Job advert skills comparison.py
  skills_taxonomy_v2/analysis/skills_extraction/notebooks/Merge with ESCO.py
  skills_taxonomy_v2/analysis/skills_extraction/notebooks/Tranformers word embeddings approach.py
Due: black

Format files
  skills_taxonomy_v2/pipeline/skills_extraction/get_word_embeddings.py
  skills_taxonomy_v2/pipeline/skills_extraction/get_word_embeddings_utils.py
Due: black

Edit word embeddings to output the job and sentence id
  skills_taxonomy_v2/pipeline/skills_extraction/get_word_embeddings.py
  skills_taxonomy_v2/pipeline/skills_extraction/get_word_embeddings_utils.py
Due: black

Add word embeddings extarction yaml
  skills_taxonomy_v2/config/skills_extraction/word_embeddings/2021.07.21.yaml
Due: check-yaml

Add a lot more details about the skills extraction experiments
  skills_taxonomy_v2/analysis/skills_extraction/Skills Extraction Experiments.md
Due: none
